[2014-07-25 02:21] patcon opened #18 "Maintain in debian depo?"
This is a great learning tool! Any chance it might eventually make it into a debian repo? Or at the very least a ppa?

Thanks!

[2014-07-25 19:04] #18 closed, assigned to nobody

[2014-08-02 14:35] vgvassilev opened #21 "Fix too many printed while generating a forward decl maps ;"
Hi,
  [cling$] .T map map_fwd.h
 produces many useless ;
Vassil

[2014-08-02 14:39] vgvassilev opened #22 "Forward decl maps lose information about the inclusion point"
Hi,
  [cling$] .T map map_fwd.h
  produces output like:

[code]

  i.e the information about the inclusion point is missing.
Vassil

[2014-08-02 14:42] vgvassilev opened #23 "Do not print empty namespaces in the forward decl maps"
Hi,
[cling$] .T map map_fwd.h
produces declarations such as:

[code]

Those should be omitted, because they are empty.
Vassil

[2014-08-03 16:18] #21 closed, assigned to nobody

[2014-08-04 21:14] vgvassilev opened #27 "cpt --with-workdir= doesn't work"
Hi,
  packaging (master)$ ./cpt.py --with-llvm-url=https://github.com/vgvassilev/llvm.git --with-clang-url=https://github.com/vgvassilev/clang.git --with-cling-url=https://github.com/vgvassilev/cling.git --with-workdir=~/workspace/cling-github --current-dev=dmg
Cling Packaging Tool (CPT)
Arguments vector: ['./cpt.py', '--with-llvm-url=https://github.com/vgvassilev/llvm.git', '--with-clang-url=http

[2014-08-04 21:20] vgvassilev opened #28 "Implement a printStats for the ForwardDeclPrinter"
Hi,
  We need to implement statistics showing how many decls were omitted, what are the omitted decl kinds and so on.
Vassil

[2014-08-04 21:23] vgvassilev opened #29 "Implement cpt build environment"
Hi,
  We discussed this before, but lets just iterate once more:
  I'd like to download only the cpt.py and tell it to build a development environment for me.
Vassil

[2014-08-04 21:26] vgvassilev opened #30 "cpt fails on Mac"
Hi,
  I get this:

[code]

Maybe it is connected to issue #27
Cheers,
Vassil

[2014-08-04 21:30] vgvassilev opened #31 "Update root ReadMe.md"
Hi,
  Once we have #29 we should update the build instructions in cling's ReadMe.md
Cheers,
Vassil

[2014-08-04 21:31] vgvassilev opened #32 "Hook in cpt build package also in cling's build system."

[2014-08-05 09:37] vgvassilev opened #33 "Create and use a PCH/PCM"
We should create a PCH/PCM at startup of the headers in the system include paths.

[2014-08-05 10:33] vgvassilev opened #34 "Document the limitations of the ForwardDeclPrinter"

[2014-08-05 14:46] #27 closed, assigned to onyb

[2014-08-05 16:41] vgvassilev opened #35 "cpt fails to produce a package on MacOS"
Hi,
  Maybe this is unsupported yet but I got:

[code]

Vassil

[2014-08-05 17:05] vgvassilev opened #36 "cpt thinks git is installed on Windows"
Hi,

[code]

But:

[code]

Vassil

[2014-08-05 17:30] vgvassilev opened #37 "cpt too many arguments on Windows"
Hi,
  After installing git on windows (issue #36 ) I ran into:

[code]

Vassil

[2014-08-05 18:19] vgvassilev opened #38 "cpt cleanup procedure fails"
Hi,

[code]

I get:

[code]

Vassil

[2014-08-07 20:43] #30 closed, assigned to onyb

[2014-08-07 21:07] #35 closed, assigned to onyb

[2014-08-07 21:46] vgvassilev opened #39 "Does cpt ask whether or not to still package if the test suite fails?"

[2014-08-07 22:03] vgvassilev opened #40 "cpt /bin/sh: line 1: tell: command not found"
Hi,
Running:

[code]

I get:

[code]

[2014-08-08 09:39] #38 closed, assigned to onyb

[2014-08-09 11:19] #39 closed, assigned to onyb

[2014-08-09 12:05] vgvassilev opened #41 "Enumerate incompatibility issues in cpt run with python 2.7 and 3.4"
Hi Ani,
  Could you enumerate cpt issues if we want to upgrade it to python 3.4. I tested with 3.4 and there were some incompatibilities.
  Here I found some more info https://docs.python.org/3/howto/pyporting.html If those issues are tiny we even could implement them in a version independent way see section "Writing Source-Compatible Python 2/3 Code"
Vassil

[2014-08-09 18:39] #37 closed, assigned to onyb

[2014-08-09 18:54] #36 closed, assigned to onyb

[2014-08-14 08:26] #23 closed, assigned to manasij7479

[2014-08-14 08:26] #22 closed, assigned to manasij7479

[2014-08-17 20:43] #29 closed, assigned to onyb

[2014-08-17 21:00] #28 closed, assigned to manasij7479

[2014-08-19 08:34] #31 closed, assigned to onyb

[2014-08-20 15:16] #40 closed, assigned to onyb

[2014-08-21 15:10] #34 closed, assigned to manasij7479

[2014-09-11 07:29] vgvassilev opened #43 "Forward declarator doesn't print the fully qualified name"
[code]

[2014-09-12 08:17] Axel-Naumann opened #44 "Forward decl printer: bad ordering"
[code]

causes the following forward decls:

[code]

This causes the following error:

[code]

Could this be fixed, please?

Cheers, Axel.

[2014-09-13 13:56] #43 closed, assigned to manasij7479

[2014-09-15 09:08] #44 closed, assigned to manasij7479

[2014-09-21 14:51] manasij7479 opened #45 "Cleanup for running threads"
Code:
[cling]$ #include <thread>
[cling]$ auto f = [] () {while(1);};
[cling]$ std::thread t(f);
[cling]$ .q
terminate called without an active exception
Aborted (core dumped)

This can be considered reasonable behaviour for a compiler.
But since cling is an interactive environment, I think it should handle active threads in some special manner at exit.

Example use case:
In my code the thread is

[2014-09-22 07:50] #45 closed, assigned to nobody

[2014-09-24 23:20] daveloyall opened #46 "How this looks on github"
Here on github, the "repo description" should be short.

I recommend "Cling is an interactive C++ interpreter, built on top of Clang and LLVM compiler infrastructure."

This page describes how to change it.  http://stackoverflow.com/questions/7757751/how-do-you-change-a-repository-description-on-github

Cheers!

[2014-09-25 07:38] #46 closed, assigned to nobody

[2014-09-25 13:39] elfring opened #47 "Complete quoting for parameters of some CMake commands"
Some parameters (like "[${CLING_SOURCE_DIR}/lib/](https://github.com/vgvassilev/cling/blob/052db346d80efb6fe5fbe3cae166a0820875bb5e/CMakeLists.txt#L106)" and "[${CMAKE_CURRENT_BINARY_DIR}/cling-compiledata.h](https://github.com/vgvassilev/cling/blob/4b86baea4b7c046f49f7f6d92177bb6f5755bbda/lib/Interpreter/CMakeLists.txt#L81)") are passed to CMake commands in your build scripts without enclosing th

[2014-09-25 14:55] elfring opened #48 "Completion of error handling"
I have looked at a few source files for your current software. I have noticed that some checks for return codes are missing.

Would you like to add more error handling for return values from functions like the following?
- [fflush](http://en.cppreference.com/w/cpp/io/c/fflush "Flush a stream") ⇒ [FILEPrintHelper::Print](https://github.com/vgvassilev/cling/blob/729a459976cd083fe36c2697c9e16e2d0f437

[2014-09-25 15:26] nneonneo opened #51 "cpt should check if subprocess calls fail"
Currently, if a make step fails, cpt rather happily tries to keep going. I'm attempting to build a dmg with cling, and it's failing to build cling. Instead of quitting, it keeps going and attempts to build an empty dmg, which breaks in even more surprising ways.

Suggested patch: use `check_output` and `check_call` instead of `Popen` in `exec_subprocess_call`/`exec_subprocess_check_output`; the `c

[2014-09-25 16:30] elfring opened #52 "Improve exception safety with smart pointers"
Would you like to wrap any pointer data members with the template class "[std::unique_ptr](http://en.wikipedia.org/wiki/Smart_pointer#unique_ptr "a smart pointer")"?

Update candidates:
* [TerminalConfigUnix](https://github.com/vgvassilev/cling/blob/90abfb5485b5386d164a9ca9b1cfccbb5b795a6a/lib/UserInterface/textinput/TerminalConfigUnix.cpp#L56 "TerminalConfigUnix class")
* [TextInput](https://gith

[2014-09-28 15:02] vgvassilev opened #55 "failedTemplateInstantiations.C test"
@manasij7479 what https://github.com/vgvassilev/cling/commits/master/test/Lookup/failedTemplateInstantiations.C was supposed to test? I saw it was checked in as a part of the old autoloading implementation which is gone now. Does this test make sense with the new implementation of the autoloading? Could it be removed?

[2014-09-28 15:29] #51 closed, assigned to onyb

[2014-09-29 15:20] #55 closed, assigned to manasij7479

[2014-10-01 16:40] #41 closed, assigned to onyb

[2014-10-06 17:11] piyushchauhan2011 opened #61 "Clearing Cling Shell"
I have a doubt about clearing the window of Cling. I used Ctrl+L on my Linux machine but it didn't worked.

Is there other commands like ".q" in Cling shell ?? How can I get the list of commands in shell ??

Also is there any way to clear the variables ??

[code]

[2014-10-06 17:49] #61 closed, assigned to nobody

[2014-12-08 08:10] martell opened #64 "New Error"
Hi @vgvassilev,

I have a new error that I never had when I last built a few months ago.

``
In file included from llvm/tools/cling/lib/Interpreter/ValuePrinter.cpp:10:0: llvm/tools/cling/lib/Interpreter/../../include/cling/Interpreter/Value.h: In instantiation of 'static T cling::Value::CastFwd<T>::cast(const cling::Value&) [with T = long double]':
llvm/tools/cling/lib/Interpreter/../../include/c

[2015-02-01 14:50] vgvassilev commented on #64
Should be fixed now! Thanks!

[2015-02-01 14:50] #64 closed

[2015-05-14 07:39] nesteruk opened #66 "Binary snapshot not running on Ubuntu"
Downloaded binary snapshot and got this:

<img src="http://i.imgur.com/Z97SkWo.png"/>

[2015-05-14 08:49] vgvassilev commented on #66
It tells you that you don't have libc++ installed. Are you sure you have it on your system?

[2015-05-14 08:52] vgvassilev commented on #52
Closing, tagged as not important, thus not enough manpower to do the transformation.

[2015-05-14 08:52] #52 closed

[2015-05-14 08:53] vgvassilev commented on #48
Even though it is a nice suggestion, closing due to inactivity.

[2015-05-14 08:53] #48 closed

[2015-05-14 08:54] vgvassilev commented on #47
Closing due to inactivity.

[2015-05-14 08:54] #47 closed

[2015-05-14 09:32] nesteruk commented on #66
I did have `libc++` installed, but apparently I needed to install `g++` as well for it all to work. This is strange because I thought Cling was essentially self-contained.

[2015-05-14 09:32] #66 closed

[2015-05-15 08:55] vgvassilev commented on #66
Well, yes, this is the way how cling resolves source file locations.

[2015-05-30 07:12] mcraveiro opened #67 "Making use of the compilation database"
Many thanks for a very useful project. This is more of a question than a issue. Does Cling support the compilation database? It would be great if one could load up a compilation database for a given project, and then be able to include any of the files on that project and use them from cling.

[2015-05-30 07:49] vgvassilev commented on #67
Why doesn't work for you:
[code]

AFAIK compilation databases are useful when one needs detailed info about the build such as the exact compiler flags. Using cling allows to experiment even with those. Do I miss something?

[2015-05-30 08:10] mcraveiro commented on #67
No, I think it's just me missing something :-) I was thinking one could automate that process, but actually its probably quite trivial to write a script that takes a compilation database and converts it into cling commands - e.g. say I want to work with project X; I could simply convert the compilation database for project X into a set of cling commands that sets up cling to experiment with that p

[2015-05-30 08:10] #67 closed

[2015-05-30 08:11] vgvassilev commented on #67
Sure, glad to help!

[2015-06-11 07:12] HelloCodeMing opened #71 "Meet a bug when encountering errors"
Hey, I found something unexpected when I write some wrong codes, like this:

[code]
Besides, after the second line, the type "newran" will becomes int.

Maybe you should do something to fix this. Thank you!

[2015-06-11 07:17] vgvassilev commented on #71
Thanks for the report! Could you make the reproducer self-containing, please?

[2015-06-11 10:10] HelloCodeMing commented on #71
Okay, but the code is a little prolix, as you know..

Before it, I should do some explaining. Since I'm learn template metaprogramming(TMP), I'm used to make some test with cling, it's quite useful to do this job.

In TMP, range_c is not an extendsible sequence, so you could not transform it. As a result, the code "tyepdef mpl::transform<ran, add2>::type ran2" should encounter a template instantia

[2015-06-23 21:13] nesteruk opened #72 "Cling not loading Boost"
This may be asking too much, but currently Cling does not load Boost headers, and just crashes.

[2015-06-23 21:17] vgvassilev commented on #72
Could you provide move information, please?

[2015-06-23 21:23] nesteruk commented on #72
Well, for example you can write #include <boost/asio.hpp> and instead of
loading it, we get an IncrementalExecutor: calling a reserved symbol.

Does loading Boost work for you?

On 24 June 2015 at 00:17, Vassil Vassilev <notifications@github.com> wrote:

--
Dmitri Nesteruk
dmitrinesteruk@gmail.com
skype: dmitri.nesteruk

[2015-06-23 21:26] vgvassilev commented on #72
We haven't done excessive testing. We have tried a few parts and half of them worked half of them didn't. I will have to have a look at this exact issue. Thanks.

[2015-06-23 21:32] nesteruk commented on #72
I tried a couple of Boost headers and none of them seem to work. I realize
there's lots of headers being dragged in by every single one, but since
Boost is header-only it's a perfect candidate for this sort of thing.

On 24 June 2015 at 00:26, Vassil Vassilev <notifications@github.com> wrote:

--
Dmitri Nesteruk
dmitrinesteruk@gmail.com
skype: dmitri.nesteruk

[2015-07-17 14:57] DiegoAlbertoTorres commented on #72
I have not tried including boost's own headers, but one of my libraries that uses boost works fine. Calling cling as:
 `cling --std=c++11 -I/usr/local/Cellar/boost/1.58.0/include -L/usr/local/Cellar/boost/1.58.0/lib -lboost_system-mt`

[2015-08-24 07:18] nesteruk commented on #72
Any updates on this?

[2015-08-24 12:26] vgvassilev commented on #72
Yes, it should be fixed by 0.2 release which will happen sometime soon. Sorry for not being very helpful/specific. I hope I can make it by the end of the year.

[2015-09-19 13:43] zhangxaochen opened #73 "#include<iostream> causes: !DD && Handlers.empty() && "Debug/EH info didn't get finalized""
I've successfully built cling on Windows7 with cmake & vs2013. While I was trying to include some cpp headers, the following error occurred:
[code]
![shit](https://cloud.githubusercontent.com/assets/3416677/9976438/df8e61e2-5f16-11e5-9c17-afc14702c3b2.gif)

Am I doing it the wrong way? Or it's a bug of cling with Windows?

[2015-09-19 13:48] vgvassilev commented on #73
Thanks for the report. iostream is one of the most complex header files. AFAIK the Windows support of clang (thus cling) is not mature enough to make this work.

[2015-09-19 13:48] #73 closed

[2015-09-19 13:58] zhangxaochen commented on #73
@vgvassilev thx for your quick response! So it's not recommended to use cling & clang on Windows right now, right?

[2015-09-19 14:01] vgvassilev commented on #73
Exactly, we are not there yet.

[2015-10-09 09:43] mvklingeren opened #74 "CPT Cling Packaging does not build stable release"
Ive tried to build deb packages on Ubuntu 15.10, with the cpt.py --last-stable deb command.

unfortunately, this ended with:

llvm[4]: Compiling CheckEmptyTransactionTransformer.cpp for Release+Asserts build
In file included from /home/mvklingeren/ec/build/cling-src/tools/cling/lib/MetaProcessor/Display.cpp:12:
/home/mvklingeren/ec/build/cling-src/tools/cling/lib/MetaProcessor/../../include/cling/

[2015-10-09 09:54] vgvassilev commented on #74
@onyb could you help us out?

[2015-10-09 10:03] mvklingeren commented on #74
I checked the latest-dev source file Interpreter.h, that does not seem to have a reference to:
'llvm/ADT/OwningPtr.h'

But its still compiling the dev build now, not sure if that will build; but stable should just work with CPT ..

What i think is the problem, there is no llvm directory in the tools directory, and there is no ADT, OwingPtr.h either (that file is not in my build dir, checked with g

[2015-10-09 11:45] mvklingeren commented on #74
And the result of an attempt to build the latest-dev, resulted in a signing error (i do not have Cling CERN signing keys..):

Now running lintian...
E: cling changes: bad-distribution-in-changes-file unstable
Use of uninitialized value $maintainer in substitution (s///) at /usr/share/lintian/checks/nmu.pm line 135.
Use of uninitialized value $uploader in string ne at /usr/share/lintian/checks/nmu.

[2015-10-10 06:52] onyb commented on #74
@mvklingerenl : Unfortunately ```v0.1``` is not actually "stable", and was tagged a long time ago. There has been with lot of development activity both in Cling as well as LLVM since then, and the current ```cling-patches``` branch of LLVM is not compatible with Cling at the tag ```v0.1```. I will write a fix for this, but do not consider ```v0.1``` as a stable release.

This repository on GitHub

[2015-10-27 13:32] projetmbc opened #78 "make install doesn't work on Mac OS El Capitan"
make install gives me the following error message.

    /Users/xxxx/cling/src/include/llvm/ADT/StringRef.h:13:10: fatal error:
      'algorithm' file not found
    #include <algorithm>
             ^
    1 error generated.

[2015-10-27 15:06] remysaissy opened #79 "Replace the LLVM module jit by mcjit"
The jit module will be removed and is replaced by mcjit in llvm > 3.5.
I'm trying to build an homebrew formula for cling and I ran into the issue that llvm 3.6.x (provided in homebrew) no longer has the jit module. Instead it has moved to the new mcjit.

http://blog.llvm.org/2013/07/using-mcjit-with-kaleidoscope-tutorial.html

[2015-10-29 04:46] vgvassilev commented on #78
We are working on it.

[2015-10-29 08:32] projetmbc commented on #78
Thanks for this !

[2015-11-11 10:33] svetlin-mladenov opened #80 "The binary snapshot download page (https://ecsft.cern.ch/dist/cling) is broken."
The SSL certificate is invalid (domains don't match) and even if this error is ignored the server returns 404 not found.

[2015-11-11 10:46] onyb commented on #80
This looks like a problem with Electric Commander, since I cannot access the login page. The parent directory `/dist` contains only `cvmfs` and `cernvm`, and no `cling`.

[2015-11-11 11:43] vgvassilev commented on #80
Yes, we have turbulence in our infrastructure since we are moving to jenkins. That issue should be addressed soon.

[2015-11-11 11:46] vgvassilev commented on #80
@onyb this is one of the reasons I want to have build/release infrastructure running on github. And I am looking forward to your future PR ;)

[2015-11-30 15:35] nesteruk opened #81 "The path https://ecsft.cern.ch/dist/cling/ is invalid"
Seems like the binary download location moved somewhere; can no longer download binaries pointed to from the ROOT Cling page :(

[2015-11-30 16:32] onyb commented on #81
@nesteruk: Please see #80.

[2015-12-08 10:47] ghost opened #82 "How to modify"
Hi I created my own programming language with flex and bison, now how can i put this in your interpreter? Thanks in advanced

[2016-01-06 18:01] nesteruk opened #84 "Cannot make an ofstream"
I just tried this

[code]
and Cling gave me a "no matching constructor" error

[2016-01-21 08:01] palxex commented on #80
Any update?

[2016-01-21 08:40] vgvassilev commented on #80
Yes, we are almost there. We are waiting for our IT department to allow jenkins to connect to github. Sorry sometimes things are slower than I'd wish for.

[2016-01-22 15:28] onyb commented on #80
@palxex : You can find the latest Cling release on my GitHub fork: https://github.com/onyb/cling/releases. Please note that it is a pre-release.

@vgvassilev: We need to update the `master` branch, and sync it with the original [repository](https://root.cern.ch/gitweb?p=cling.git;a=shortlog). Once that is done, we can merge in the commits from my fork. You can see my changeset [here](https://githu

[2016-01-22 15:45] palxex commented on #80
@onyb Great! Thanks.

[2016-03-02 08:13] alefpereira commented on #80
@onyb Thank you!

[2016-03-05 21:28] forflo opened #85 "Build process (as described in README.md) not working"
Hi,

I'm trying to build cling from source using exactly the method
you described in the README.md of this repository. I'd rather
like to download ready-to-play binaries, but I read, that's not
possible right now because of your infrastructure refactoring.

I also tried to build the package using [this](https://raw.githubusercontent.com/karies/cling-all-in-one/master/clone.sh) build script that is

[2016-03-14 13:27] tforgione opened #86 "Interactive interpreter does not exit on EOF"
On linux, when you're on a terminal, you can use `Ctrl+D` to send EOF to the program.

For example, in python, typing `Ctrl+D` in the terminal exits the interpreter.

The following snippet also exists on EOF.

[code]

Is there a reason why `cling` ignores my `Ctrl+D` ?

[2016-03-14 14:27] vgvassilev commented on #86
You can exit with `.q`. Ctrl+D is not implemented.

[2016-03-15 08:34] tforgione commented on #86
I see, thanks.

I just wanted to know if it was expected behavior or something like this.

[2016-03-15 09:04] vgvassilev commented on #86
We never had Ctrl+D user requests and thus we didn't find it necessary to implement it.

[2016-04-25 16:55] maddouri commented on #85
I've had a similar problem on my Ubuntu 16.04. So I decided to compile it inside a Docker container running Ubuntu 14.04. Seems to work well :)

Feel free to have a look at [my repo](https://github.com/maddouri/cling-ubuntu-docker) or directly get the build by executing `docker pull maddouri/cling-ubuntu-docker`.

One interesting side-effect of this approach is that it should be possible to use th

[2016-04-25 17:24] vgvassilev commented on #85
Ah, really cool! Could you contribute the config back? I'd love to see vagrant too ;)

[2016-04-25 18:23] maddouri commented on #85
Thanks!

Sure. I'll prepare a pull request.

[2016-05-11 06:30] CMCDragonkai opened #88 "What's the difference between this repo..."
and this repo http://root.cern.ch/git/cling.git ?

[2016-05-11 06:31] CMCDragonkai commented on #80
https://root.cern.ch/download/cling/ ?

[2016-05-11 07:25] vgvassilev commented on #80
The intent to be mirrors. However the development diverged. It is on my todo list to sync all changes in both repos.

[2016-05-11 07:28] vgvassilev commented on #88
The intent to be mirrors. However the development diverged. It is on my todo list to sync all changes in both repos.

[2016-05-17 00:51] Manouchehri opened #89 "Tab auto-complete"
It would be neat feature if Cling used Clang's auto-completion in the REPL.

http://clang.llvm.org/doxygen/group__CINDEX__CODE__COMPLET.html

[2016-05-17 15:54] vgvassilev commented on #89
I agree, there has been work in that area and I hope it will converge soon.

[2016-05-17 15:54] #89 closed

[2016-05-18 13:06] giordi91 opened #90 "Integrating cling into existing application."
Hi there, I got interested in cling due to the fact I would like to integrate cling into my existing game engine, the project is just a learning toy nothing serious, for the time being i need some really basic stuff and I would rather avoid to go down the path of integrating a fully fledged scripting language.
Would it be possible to achieve that result with cling? I tried to have a look at the do

[2016-05-18 13:16] Manouchehri commented on #89
@vgvassilev I think Clang already has everything done, there's more work to be done in Cling though. =)

[2016-05-18 15:59] forflo commented on #85
Thanks!

[2016-07-03 02:36] Manouchehri opened #92 "Binary snapshots 404"
The link https://ecsft.cern.ch/dist/cling given in README.md seems to be down?

![image](https://cloud.githubusercontent.com/assets/7232674/16543491/5e5fec3c-40a5-11e6-91bf-c0b7ca0a4a93.png)

[2016-07-03 02:38] Manouchehri commented on #92
Breaks the packaging tool too.

[code]

[2016-07-03 02:39] Manouchehri commented on #92
Oops, duplicate of #80 and #81..

[2016-07-03 08:02] vgvassilev commented on #81
The binary snapshots link is updated. Sorry for the delay.

[2016-07-03 08:02] #81 closed

[2016-07-06 13:29] vgvassilev commented on #82
Sorry for the late answer. I think you should look at our README file (the video section). There you can find some examples. I hope soon we will have better documentation of cling and certainly we will include an example for embedding cling in applications.

[2016-07-06 13:29] #82 closed

[2016-07-06 13:31] vgvassilev commented on #78
Sorry for the late answer. The issue should be fixed. Please reopen if you still have the same issue.

[2016-07-06 13:31] #78 closed

[2016-07-06 13:32] vgvassilev commented on #79
Thanks for the suggestion. MCJIT is not quite what we need for cling. We ended up replacing cling's JIT with OrcJIT (starting from v0.2).

[2016-07-06 13:32] #79 closed

[2016-07-06 13:34] vgvassilev commented on #84
Thanks for the report and sorry for the delay. I just tested it and it seems it was fixed.

[2016-07-06 13:34] #84 closed

[2016-07-06 13:35] vgvassilev commented on #74
@onyb Should be done now. Could you check whether this is still an issue and if not close the ticket?

[2016-07-06 13:36] vgvassilev commented on #72
@nesteruk could you retry and reopen if this is still an issue. This should be resolved.

[2016-07-06 13:36] #72 closed

[2016-07-06 13:36] vgvassilev commented on #88
The repositories are back in sync. Sorry for the inconvenience.

[2016-07-06 13:36] #88 closed

[2016-07-06 13:37] #80 closed

[2016-07-06 13:40] vgvassilev commented on #90
@giordi91 I think cling can help you to achieve this. Have a look at https://www.youtube.com/watch?v=BrjV1ZgYbbA Is this more or less what you have in mind?

[2016-07-06 13:44] giordi91 commented on #90
yes what I would like to do is the following, I have my 3d engine, and for the time being I don't want to integrate a fully fledged script language like LUA or similar. I just want a 1 to 1 mapping to c++ functions. Like load_model(pathToFile) or stuff like that. I was wondering if there was any documentation or resources that can help me get started in that.

[2016-07-13 16:50] CrazyPython commented on #92
@Manouchehri  Please close this issue.

[2016-07-13 16:53] #92 closed

[2016-07-13 21:33] nesteruk opened #93 "Warning when starting up on Ubuntu 16"
When firing up latest binary snapshot, I get:

[code]

[2016-07-14 06:16] vgvassilev commented on #93
Could you tell us on which platform and which binary shapshot are you using?

[2016-07-14 09:07] nesteruk commented on #93
It's Ubuntu Desktop 16.04 64-bit, and the binary snapshot is the latest one
you can get right now.

On 14 July 2016 at 09:16, Vassil Vassilev <notifications@github.com> wrote:

--
Dmitri Nesteruk
dmitrinesteruk@gmail.com
skype: dmitri.nesteruk

[2016-07-19 18:50] vgvassilev commented on #85
This should be fixed.

[2016-07-19 18:50] #85 closed

[2016-07-19 18:50] vgvassilev commented on #74
Should be fixed.

[2016-07-19 18:50] #74 closed

[2016-07-20 15:13] adamryczkowski opened #95 "How to configure jupyter-cling-kernel to use std=c++11?"
I checked `jupyter-cling-kernel --help` but I failed to find any command line switch to pass arguments to cling. Can anyone help me?

I am setting up C++ kernel for Jupyter. I want students to be able to use iostream library - but this requires c++11 compatibility, which is not by default.

I use headless Ubuntu 16.04 server.

[2016-07-21 07:27] vgvassilev commented on #95
You can pass arguments to cling in the same way as to any compiler: `cling -x c++ -std=c++11`. Does that help?

[2016-07-21 07:44] adamryczkowski commented on #95
@vgvassilev Thank you for your answer. Jupyter uses `jupyter-cling-kernel` so I need to pass there, not to `cling`. I'll try to use these arguments to it nevertheless, maybe they will get forwarded to cling. I'll post the result.

[2016-07-21 08:36] vgvassilev commented on #95
@karies should be able to help, he is the original implementer of this part.

[2016-07-21 09:14] karies commented on #95
C++11 is enabled automatically as soon as cling is built with C++11. That's needed because cling resolves some symbols from its own binaries, so runtime and compile ABI must match. Makes sense?

[2016-07-21 10:56] adamryczkowski commented on #95
@karies Thank you. It does make sense. The question is: what is the preferred way to build it using C++11 standard. Should I edit some cmake files, or is there any command line switch for this occasion?

[2016-07-21 12:34] karies commented on #95
As you are building cling "as part of" llvm you'll want to configure llvm to build with C++11. And that's actually a requirement these days. I.e. your cling /is/ already built with C++11 unless you configured your llvm / clang / cling build to use C++14 yourself.

[2016-07-21 17:59] adamryczkowski commented on #95
@karies  Well, I don't think so. I just (3 days ago) have manually compiled the cling on the most recent Ubuntu 16.04 and the jupyter-cling-kernel doesn't let me use

[code]

Cling also doesn't allow it, but it can be easily fixed by adding --std=c++11 command line parameter.

I just want to know, how to modify the `.local/share/jupyter/kernels/cling.json` so the `jupyter-cling-kernel` would let m

[2016-07-21 19:09] karies commented on #95
Until we have implemented the separation of declarations and statements within one piece of input you'll have to do
[code]
in one cell, and
[code]
in the next. Note that you misspelled `cout`. And also - this has nothing to do with C++11. You can test for the C++ version in use by evaluating the preprocessor macro
[code]

[2016-07-22 02:34] ustcscgy opened #96 "smaller binary snapshots download (without bundled LLVM)"
The binary snapshots listed in https://root.cern.ch/download/cling/ are pretty big, over 200MB, but most of it are LLVM, while cling is static linked against it.  After removing bundled LLVM, cling is under 40MB, and after compression, it's 14MB.

Would you consider uploading this cling-only binary snapshots?

BTW, what's the progress of upstreaming LLVM patches? (So that I can build cling against

[2016-07-22 05:42] lSODAMl opened #97 "build and install them using CMake"
I want to install cling and I used CMake.
I make build directory and I type in cmd that 'cmake -DCMAKE_INSTALL_PREFIX=c:\cling\src
But there is an error. 'C:/cling/build' does not appear to contain CMakeLists.txt.
One more. when I type cmd 'make' and 'make install, cmd said make and make install is not recognized as an internal or external command, operable program or batch file.
What can I do?

[2016-07-22 05:52] onyb commented on #97
I would create a build directory, `cd` into it, and then do something like this:

[code]
Please check out the [packaging tool](https://github.com/vgvassilev/cling/tree/master/tools/packaging), which is generally an easier way to build Cling.

[2016-07-22 06:06] lSODAMl commented on #97
What is <intall dir>?
Is it specific dir or not related other dir?

[2016-07-22 06:10] onyb commented on #97
I guess you meant the build directory. You can name it anything and put it in any location, but prefer keeping it out of the source tree.

[2016-07-22 06:44] lSODAMl commented on #97
Thanks!
On GNU Make
../src/configure --prefix=/some/install/dir
'../' this command is cmd command?
In my cmd, it is not recognized as an internal or external command, operable program or batch file.

[2016-07-22 06:51] onyb commented on #97
LLVM has dropped support for `configure` based builds, in favor of CMake. You should use CMake directly, or use the packaging scripts I pointed you to.

[2016-07-22 08:03] adamryczkowski commented on #95
YES, it works! How stupid of me. Now I even remember reading somewhere about this limitation of the cling kernel... I'm sorry for taking your time.

And by the way, thank you for developing such wonderful tool.

[2016-07-22 08:03] #95 closed

[2016-07-22 08:36] karies commented on #95
No problem - this /is/ annoying, and I really do want to have this fixed. Thanks for the flowers, though :-) Enjoy!

[2016-07-22 13:18] vgvassilev commented on #96
Thanks for the report. Yes we are working on this. We have a packaging tool that makes them considerably smaller.

We consider uploading binary releases along with each tag.

Some of the patches could be upstreamed but some of them cannot. I have this on my todo list but it is not with high priority. I am completely in favor of building cling against bundled LLVM, but it may require some more work

[2016-07-22 14:16] nesteruk opened #98 "Give a name to a temporary variable"
MATLAB stores the result of any temporary in the variable `ans`. Could Cling do the same? I don't know if rebinding a variable is possible, so they could be called `ans1`, `ans2` et cetera.

[2016-07-22 14:20] nesteruk opened #99 "Exception recovery is inconsistent"
Why does `0/0` work, `throw 3` also lets Cling recover, but writing `int x = 3; x/(x-x)` crash Cling?

[2016-07-22 15:02] vgvassilev commented on #98
That is a good idea and should be possible.

[2016-07-22 15:04] vgvassilev commented on #93
The issues with the ABI compatibility were recently fixed. Please retry and reopen if this is still an issue.

[2016-07-22 18:58] vgvassilev commented on #90
Section "Embedding Cling" of the [website](https://rawgit.com/vgvassilev/cling/master/www/index.html) might also help.

[2016-07-23 01:55] ustcscgy commented on #96
Glad to know that you're working on it, I'll wait for the samller binary packages then.

As for the pacthes that can't be upstreamed, can you tell a bit more about it? As far as I am concered, if unpatched LLVM can't provide functionalities that cling needs, isn't that a bug/missing feature for LLVM?

[2016-07-24 18:39] nesteruk opened #100 "Value extraction synthesizer fails on __m128"
I used a `__m128` from `<emmintrin.h>` and then tried to output it and got

[code]

[2016-07-24 18:41] nesteruk commented on #100
I think I might put in the effort and learn how to contribute to Cling and send in pull requests, seeing how SIMD intrinsics is a rare feature but one I would particularly appreciate heaving.

[2016-07-30 08:15] vgvassilev commented on #99
@CristinaCristescu do you have an idea what is going wrong here?

[2016-08-05 09:26] vgvassilev commented on #100
I can confirm this failure. I will look into it soon.

[2016-08-05 20:40] #97 closed

[2016-08-05 20:58] vgvassilev commented on #96
We have uploaded smaller binaries [here](https://github.com/vgvassilev/cling/releases).

[2016-08-05 20:59] vgvassilev commented on #32
Done in the master.

[2016-08-05 20:59] #32 closed

[2016-08-05 21:03] vgvassilev commented on #99
0/0 is easily detectable because of the constant values. When we have complicated expressions we cannot statically reason about the code. Of course we need to figure out how to protect cling from crashing there.

[2016-08-06 04:26] ustcscgy commented on #96
Great!  Two small improvements:

1. Fedora version.  Which do not use libtinfo and libcxx.
2. Nightly version, like https://root.cern.ch/download/cling/

[2016-08-08 12:39] ustcscgy commented on #96
I see there's a nightly version now, will there be fedora version too?

[2016-08-08 12:41] vgvassilev commented on #96
Currently we are looking into this. I am not quite sure we can succeed, because we are using travis ci public service, running on ubuntu. I've been thinking to add a build which spans fedora environment with docker to deliver the fedora nightly. I don't think I will have enough time though. You are welcome to help us out.

[2016-08-08 13:27] ustcscgy commented on #96
OK, one reason I want to have Fedora version is because it works and Ubuntu version not work:
my current system don't have libtinfo and libc++abi.

Anyways to avoid link cling againt these libraries?

[2016-08-08 13:34] vgvassilev commented on #96
Can you download the latest binary and try? I don't think we depend on libtinfo and libc++ at least for the current nightly builds.

[2016-08-08 13:45] ustcscgy commented on #96
In 2016-Aug-08-cling-Ubuntu-12.04-x86_64-0.3.dev-e21ea6d.tar.bz2 :
[code]

libc++/libc++rt/libc++abi is in release 0.2 IIRC, but they are gone in this snapshot I think.

[2016-08-09 10:28] vgvassilev commented on #96
We need tinfo for colored diagnostics.

[2016-08-09 11:02] ustcscgy commented on #96
tinfo is a part of ncurses, can be configured off. What cling actually need is ncurses, I think.

[2016-08-10 07:33] vgvassilev commented on #96
We provide our own terminal library, because we don't want to depend on ncurses. Maybe we could have a static/fat binary build.

[2016-08-10 07:48] ustcscgy commented on #96
cling uses its own terminal library?  Let me look into source code to provide more comment.

BTW, cling's terminal behavior is odd under emacs (M-x comint-run), I wonder if it's possibe to disable its terminal capability (and let emacs handle that).

[2016-08-10 07:59] ustcscgy commented on #96
First, `grep -R tinfo .` only returns one match in `./www/index.html`, and I think that needs to be fixed.

I think the libtinfo dependency may be come from LLVM, just a guess.

[2016-08-10 08:00] vgvassilev commented on #96
Yes, it comes from llvm. It is used by clang to produce colored diagnostics.

[2016-08-10 08:52] ustcscgy commented on #96
tinfo is old ncurses, I think?

I see that `lib/UserInterface/textinput/doc/textinput.txt` says the reason to not use ncurses is license and simplicity.

Well, LLVM/Clang has to use ncurses/libtinfo, or BSD licensed libedit.

So, question 1: is it possible to static link ncurses/libtinfo or libedit againt LLVM/Clang? (Is that what happened in Fedora build?)

Question 2: is textinput written from s

[2016-08-10 08:58] vgvassilev commented on #96
Q1: Could you find out. The LLVM cmake config flag for this is `LLVM_ENABLE_TERMINFO`. I think it should be possible with minimal changes to our build system to do it.
Q2: It was written from scratch by @karies.

[2016-08-10 09:08] ustcscgy commented on #96
I skim through gentoo's llvm build script, I think it's impossible to static link LLVM against ncurses.

However, one can disable ncurses support by `-DLLVM_ENABLE_TERMINFO=NO`, does that impact anything else?  I'd like to disable that, otherwise it would be a mess to distribute binary packages: because there are ncurses5 and ncurses6 nowadays...

[2016-08-10 09:10] vgvassilev commented on #96
Yes you could disable it, but you won't see colored output on error. I don't think we can afford that in mainline.

[2016-08-10 09:15] ustcscgy commented on #96
Colored output... Currently I have a Fedora snapshot from `https://root.cern.ch/download/cling`, it doesn't have colored error output and doesn't link to tinfo or ncurses.

Do you aware of that?

[2016-08-10 09:17] vgvassilev commented on #96
No. I think this is a bug. Does clang have colored diagnostics on fedora? Eg. `echo "error" | clang++ -xc++ -` returns non color error message?

[2016-08-10 09:19] ustcscgy commented on #96
I'm not using fedora, I'm using gentoo.  And yes, that line have colored error output.

[2016-08-10 09:20] vgvassilev commented on #96
So we need to figure out what's wrong in our version...

[2016-08-10 09:21] ustcscgy commented on #96
May I ask which script generate binary snapshot on github and `https://root.cern.ch/download/cling`?

[2016-08-10 09:27] vgvassilev commented on #96
On github I use [cpt](/vgvassilev/cling/tree/master/tools/packaging). For the others it is an internal custom post build procedure.

[2016-08-10 09:28] ustcscgy commented on #96
More info: I have cling_2016-07-20_fedora22 on my system,
and running `ldd` on every bin and so from that tarball, none links to tinfo or ncurses.

And `echo "error" | ./clang++ -xc++ -` has no colored output.

I'm downloading cling_2016-08-09_fedora24.tar.bz2 .

[2016-08-10 09:32] vgvassilev commented on #96
Look at `https://root.cern.ch/gitweb/?p=rootspi.git;a=tree;f=jenkins;h=fee15867baf9244d6ed003110c5fa3c133584557;hb=HEAD`. cling-* are the builders there. I don't understand why we don't build with colors. Maybe the machine doesn't have tinfo installed.

[2016-08-10 09:33] ustcscgy commented on #96
Same error for cling_2016-08-09_fedora24, I guess there is a bug in fedora building script.

But I have to say, being never have a cling with colored error output, I'm OK with that ...

[2016-08-10 09:55] ustcscgy commented on #96
I see the jenkins build scripts, nothing related with tinfo/ncurses.  I'm not familar with jenkins CI, so maybe the build machine don't have ncurses/tinfo installed.

And one correction: libedit is supposed to be a replacement for readline, not ncurses.

So, do you think package libtinfo.so.5 inside the package is OK?

Also, seems Ubuntu version hard code `g++4.9` inside binary, Fedora version doe

[2016-08-10 10:10] ustcscgy commented on #96
One more PS: I think cling's textinput library is more like a readline replacement than a ncurses like terminal library.

So the root problem here is clang uses ncurses to display colored error output, cling don't use ncurses/tinfo.

[2016-09-15 09:43] hacst commented on #93
Still seing the very same message with my fully updated Ubuntu 16.04.1 LTS and the cling_2016-09-14_ubuntu16 snapshot.

[code]

[2016-09-15 10:50] hacst opened #109 "CPT fails with exception on Ubuntu 16.04.1 LTS"
Following the build instructions at https://github.com/vgvassilev/cling#building-from-source-with-cling-packaging-tool fails for me on Ubuntu 16.04.1 LTS. I get:
[code]

[2016-09-15 12:58] vgvassilev commented on #109
This is a recent regression could you add `--current-dev=tar`. @marsupial could you have a look, IIRC --current-dev was optional.

[2016-09-15 16:01] marsupial commented on #109
I've added the fix to https://github.com/root-mirror/cling/pull/50

[2016-09-16 07:56] vgvassilev commented on #109
This should be fixed now. Thanks for reporting it to us!

[2016-09-16 07:56] #109 closed

[2016-09-17 10:57] vgvassilev commented on #93
IIUC @karies plans to disable this check.

[2016-09-21 22:33] newlawrence opened #110 "Jupyter unsupported for ipykernel versions > 4.3"
Everything was ok until **ipykernel** versions 4.4 and 4.5 were released. Since then I'm getting the following error:
[code]

Digging inside the **ipykernel** I've found that the error starts from [this commit](https://github.com/ipython/ipykernel/commit/67ffacf144df609e39d041fa4570b7faac6485ef), which basically fixes a crash with another kernel.

I've found a simple solution that consists in repl

[2016-09-22 15:05] vgvassilev commented on #110
Thanks for letting us know. That should be fixed in the master. Please reopen if this is not the case.

[2016-09-22 15:05] #110 closed

[2016-09-27 10:17] abo-abo opened #111 "Re-defining and running main causes a segfault"
When working with existing code, I'd like to be able to e.g.

    cling
    .L main.cc
    main(0,0)

However, the new `main` defined in `main.cc` now shadows cling's own `main` causing a crash on eval.

As a work-around, I can rename `main` to `main1` in my source. That works, but it's quite inconvenient, since it's now unusable outside cling.

I think a nice solution could be to intern the symbo

[2016-10-07 07:19] SylvainCorlay commented on #96
Would it be conceivable to not require any cling patches for llvm and use stock llvm at some point in the future?

[2016-10-07 08:37] vgvassilev commented on #96
Short term no (we lack manpower) long term: yes once we get rid of the 100 patches we have on top of llvm and clang.

[2016-10-07 09:44] ustcscgy commented on #96
@vgvassilev , why not ask the llvm/clang community for help?  There's a post by Axel on cfe-dev in 2011, now 5 years later, cling has made huge improvements, maybe more people will find cling useful or interesting, and willing to help to upstream these patches.

[2016-10-07 09:55] SylvainCorlay commented on #96
I was wondering what it would take to create a conda package for cling on conda-forge. We could have a variant of the llvm package which is marked as conflicting with the regular one...

[2016-10-07 10:02] vgvassilev commented on #96
@ustcscgy: I don't think it's llvm/clang job to prepare our patches for a review. I have this in my todo list (as I said before) but not with very high priority. I am hoping for some help by the cling community if that is too big of a trouble.

@SylvainCorlay: I am not sure how exactly conda-forge works but it might be easier to squash all llvm/clang related patches which you would apply (temporar

[2016-10-07 10:04] vgvassilev commented on #96
@ustcscgy: on the original issue, we have a PR #108 which is adds a fedora based cpt build. Once we have this integrated we could provide smaller nightlies. If you are still interested I wouldn't mind some help, as I don't think I can get to it soon.

[2016-10-07 10:05] SylvainCorlay commented on #96
We could have an llvm-cling package which reuses the regular llvm recipe and applies your patches. conda builds are reproducible in that they target a specific hash for the source.

Also we would need to create a clang package too.

[2016-10-07 10:06] SylvainCorlay commented on #96
The python recipe applies a few patches on the python source code:

https://github.com/conda-forge/python-feedstock/blob/master/recipe/meta.yaml

[2016-10-07 10:09] vgvassilev commented on #96
@SylvainCorlay: for packaging you may want to look at [cpt](https://github.com/vgvassilev/cling/tree/master/tools/packaging). And our 'nightlies' [here](https://github.com/vgvassilev/cling/releases/tag/cling-nightlies).

[2016-10-10 01:36] SylvainCorlay commented on #96
@vgvassilev I was playing around with conda, with the latest ubuntu nighly builds.

I put together a recipe for ubuntu `conda install -c SylvainCorlay cling`, which works well and installs the kernelspec.

On docker though, there is a link issue with `cling::printValue(int const*)`.

[2016-10-10 07:42] vgvassilev commented on #96
@SylvainCorlay cool! Could you open an ticket about the linker issue?

[2016-10-10 09:01] SylvainCorlay commented on #96
It seems to be [that](https://root.cern.ch/phpBB3/viewtopic.php?t=20587) issue.

[2016-10-10 09:39] SylvainCorlay commented on #96
Remark: it would be really nice if it was possible to have a single wheel for all linux64 architectures.

[2016-10-11 17:09] SylvainCorlay commented on #96
@vgvassilev
I put together a conda recipe with the current binary and published a binder so that anyone can play with it online. You can check it out here:

[![Binder](http://mybinder.org/badge.svg)](http://mybinder.org:/repo/SylvainCorlay/cling-binder/notebooks/index.ipynb)

I would love to make the conda packaging so that we could industrialize this sort of thing.

[2016-10-11 20:48] vgvassilev commented on #96
@SylvainCorlay cool. Maybe if it stabilizes (having at least a domain name) you could open a pull request and update cling's readme pointing to it.

Please open a new ticket if you need some more help about conda packaging.

[2016-10-12 13:00] SylvainCorlay commented on #96
@vgvassilev this binder is meant to be a transient thing. What I wanted to emphasize, is that putting a clean conda package together would have a lot of benefits. A lot would come for free then.

 - users of anaconda / miniconda can install cling with

[code]

    and run it in the notebook, or jupyterlab.

 - we can create binders like the above example, for people who want to share runable snipp

[2016-10-12 13:29] SylvainCorlay opened #112 "Blocking points to have a conda package for cling and the cling kernel"
I put together a conda recipe for `cling` that is simply pulling the binary from your nighly build and was just enough to make the following binder work:

http://mybinder.org/repo/SylvainCorlay/cling-binder

(Just click on it to get a C++ Jupyter notebook from anywhere.)

As I was doing this, I came across a few pitfalls that would need to be solved for a cling recipe to be made available in an of

[2016-10-12 14:00] SylvainCorlay commented on #112
^ @karies @vgvassilev

[2016-10-13 10:18] vgvassilev commented on #112
@SylvainCorlay thanks for opening this meta issue.

1. The ABI issue was solved and we backported the patch. We see another set of ABI issues (I think 1 or 2). This is only one of the reasons we have different builds for different linux platforms. Another problem for instance is that llvm link against `libtinfo` for colored diagnostics. See discussion #96. Once we solve this, we could solve this.

[2016-10-13 12:14] SylvainCorlay commented on #112
Thanks. Expect a patch from me in the next week!

Will do.

How do I pass options in the case of the kernel?

[2016-10-13 12:20] vgvassilev commented on #112
I don't know but I believe you can find this information here https://github.com/root-mirror/root/tree/master/bindings/pyroot/

[2016-10-13 12:28] SylvainCorlay commented on #112
Turns out a few people already proposed patches to fix this but it has not been acted upon yet.

[2016-10-13 12:29] vgvassilev commented on #112
Could you give me the pointers and I will try to ask somebody to review.

[2016-10-13 12:43] SylvainCorlay commented on #112
I came across

- https://reviews.llvm.org/D20785
- https://reviews.llvm.org/D7842

I added a comment in the first issue, which is the most recent, asking the author to also correct other syntax that only works with legacy python 2.

For your reference, the diff from my other PR is https://github.com/llvm-mirror/clang/pull/19/files.

[2016-10-14 11:37] SylvainCorlay commented on #112
Thanks for pushing on the Python 3 compat issues of LLVM!

[2016-10-14 11:38] vgvassilev commented on #112
It seems resolved. Does it work for you?

[2016-10-14 11:45] SylvainCorlay commented on #112
I saw some activity on the issues, but it is not fixed. The python `print` and `except` statements are still python 2 only.

[2016-10-14 11:46] vgvassilev commented on #112
Can I see which repository you are using. It is fixed in llvm's trunk.

[2016-10-14 11:48] SylvainCorlay commented on #112
I am looking at the `llvm-mirror` org https://github.com/llvm-mirror/clang

[2016-10-14 11:50] vgvassilev commented on #112
Can you point me to the files you have in mind.

[2016-10-14 11:53] vgvassilev commented on #112
Ah, the part I was missing is that closed patches were not addressing all of the issues of https://github.com/llvm-mirror/clang/pull/19/files. Could you submit that PR for review there?

[2016-10-14 11:53] SylvainCorlay commented on #112
It seems some of it was just updated... Although there are outstanding `print` statements here: https://github.com/llvm-mirror/clang/blob/master/tools/scan-view/share/ScanView.py

[2016-10-14 11:57] SylvainCorlay commented on #112
Yes, although I will be travelling this afternoon...

[2016-10-14 11:59] vgvassilev commented on #112
No worries, just add the right reviewers and I will check it it, once it is greenlit.

[2016-10-15 04:07] erlanger opened #113 "space(s) after 'using namespace xxx;' fails"
[code]
[code]

This also affects Jupyter because it (Jupyter) seems to add space(s) after the semicolon. There was no problem with older versions of cling, but unfortunately I can't track which was the old version that worked. It currently breaks my older Jupyter notebooks.

[2016-10-16 09:44] vgvassilev commented on #113
Thanks for the report! Should be fixed now.

[2016-10-16 09:44] #113 closed

[2016-10-16 19:11] erlanger opened #114 "Jupyter notebooks crash - unresolved symbol"
Hi, thanks for fixing issue #113. Unfortunately jupyter notebooks are still not working. The error is the following:

[code]
Please try the attached notebook in jupyter and you will see the error.
This is with cling commit fbd11 and jupyter 4.2.0

[clingnotebook.zip](https://github.com/vgvassilev/cling/files/532047/clingnotebook.zip)

NOTE: the code works fine from the command line cling, the erro

[2016-10-16 19:13] erlanger opened #115 "Jupyter notebook - specify C++ 14"
Is there a way to specify `--std=c++14` for a jupyter notebook?
I had to patch the source code before, but that doesn't seem to be a good solution. Maybe a configuration value in the kernel.json file?

I attach a sample C++14 notebook that can help in testing if you wish to use it.
[clingnotebookc++14.zip](https://github.com/vgvassilev/cling/files/532051/clingnotebookc.14.zip)

[2016-10-16 20:14] vgvassilev commented on #115
I am not sure how to do it with notebooks but you can start cling in c++14 mode with `cling -std=c++14`. We have a meta issue about these problems at #112 and @SylvainCorlay could probably answer this i a better way.

[2016-10-18 09:59] SylvainCorlay commented on #115
The jupyter kernel does not offer the option to pass command line options for now. Ideally, this would be done via traitlet-configurable attributes like for the regular ipython kernel.

Eventually, this would be fed into the command-line options passed here:

https://github.com/vgvassilev/cling/blob/master/tools/Jupyter/kernel/clingkernel.py#L94

If you want to hack this locally, you can change th

[2016-10-18 10:06] vgvassilev commented on #115
I think it would also make sense to extend the cling kernel in this direction. I'd be happy to review & integrate a PR there.

[2016-10-18 10:21] SylvainCorlay commented on #115
There are multiple ways to do this:
 - make it a configuration attribute of the kernel.
 - expose multiple kernels for different flavors of the C++ language.

[2016-10-18 10:26] vgvassilev commented on #115
If we opt for the latter we should be very careful these different flavors of C++ to not end up in the same translation unit (TU). In general, this is not recommended because you could end up with terrible to debug issues, or incompatible code. Eg. rtti vs nortti.

I'd opt for making it a config attribute and then if we needed we could think of ways to mix C++ in a safe way.

[2016-10-18 10:37] SylvainCorlay commented on #115
I was not thinking of mixing c++ flavors. but just have multiple kernels, one for c++03, one for c++11 and another for 14 etc... The fact that all of them actually calls the same executable with different command line options is an implementation detail.

[2016-10-18 11:35] vgvassilev commented on #115
I don't have a strong feeling about this. I am slightly leaning to the config attribute because it sounds simple and easier to maintain and incorporate future versions. Also, there are some things that are experimental only, eg. `-std=c++1z`. How would we signal this is experimental if we provide already a kernel for this.

[2016-10-18 11:41] vgvassilev commented on #114
It seems that the hash you pasted is missing one character.

Would you be able to narrow down the problem by simplifying the code? It'd be great if we started working on a notebook-based test suite.

[2016-10-18 11:50] SylvainCorlay commented on #112
I wonder if the cling kernel should have the sys-prefix's include directory as one of the include directories.

If yes, I guess we would have the usual precedence order:

`system (/usr/include)` < `sys-prefix (&PREFIX/include)` < `user (.local/include)`...

[2016-10-18 11:53] vgvassilev commented on #112
What &PREFIX resolves to?

[2016-10-18 11:54] SylvainCorlay commented on #112
It resolves to the installation directory of anaconda.

When running in a conda environment, it resolves to the conda environment's sys-prefix.

[2016-10-18 11:59] vgvassilev commented on #112
If it is specific to the conda environment I'd suggest to pass an option to the kernel, wouldn't that work?

[2016-10-18 12:46] SylvainCorlay commented on #112
Just thinking out loud wrt the prefix.  The question remains on the user and system include directories.

[2016-10-19 04:57] erlanger commented on #115
@SylvainCorlay idea of having different kernel "names" (e.g. c++14, c++11) is not opposite to having the config attribute, as I see it is only the way the configuration option is exposed to the end user. It doesn't really change the implementation much, except you offer two different kernel configurations, one running c++14 and one running c++11. I think --from the end user point of view-- it is m

[2016-10-19 22:35] erlanger commented on #114
Here is a screenshot with much simpler code:

![clingjupyter-bug](https://cloud.githubusercontent.com/assets/8608855/19539972/5e59386c-962a-11e6-923a-969c4283208d.png)

[2016-10-20 16:02] SylvainCorlay opened #116 "Link error with Jupyter kernel only"
I am seeing the following link error in certain cases but only when running as a Jupyter kernel, but not in the classical cling REPL:

[code]

[2016-10-20 16:12] SylvainCorlay commented on #116
Seems related to https://github.com/root-mirror/cling/issues/11

ping @karies

[2016-10-20 16:28] erlanger commented on #116
@SylvainCorlay this the same error I reported in #114, it is related to when you use a pointer: see the narrowed down test case in #114.

[2016-10-20 16:30] SylvainCorlay commented on #114
Thanks @erlanger this is exactly what I am seeing too. Although not specifically with pointers.

[2016-10-20 16:31] SylvainCorlay commented on #116
Closing as a duplicate of #114.

[2016-10-20 16:31] #116 closed

[2016-10-20 16:36] SylvainCorlay commented on #114
@erlanger fyi in the case of a jupyter kernel, I see the following ABI compatibility issue warning:

https://github.com/root-mirror/cling/issues/29

but not with the regular cling interpreter itself.

[2016-10-20 19:56] erlanger commented on #114
@SylvainCorlay I don't think it is related to the ABI compatibility warning, because I get unresolved symbol  error ***without*** the ABI compatibility warning.

[2016-10-20 21:00] SylvainCorlay commented on #114
FYI the warning is diplayed in the console that launched the notebook server, not in the notebook.

[2016-10-21 03:30] erlanger commented on #114
@SylvainCorlay Indeed, I checked the *jupyter console* (I knew the error does not appear in the notebook). There is ***no ABI warning*** in the jupyter console and I ***still get the unresolved symbol error***. The reason why I don't get the ABI warning is because everything in my computer was compiled with the same version of gcc and related libraries; including cling (which I compiled myself). S

[2016-10-21 14:20] SylvainCorlay commented on #114
Ok that clarifies it.

[2016-10-21 14:42] SylvainCorlay commented on #114
FYI, I am not observing this on ubuntu 14 with the binaries meant for ubuntu 14.

[2016-10-22 03:21] erlanger commented on #114
@SylvainCorlay , @vgvassilev I think this is the solution:

For some reason the  **`cling_runtime_internal_throwIfInvalidPointer`** symbol is not linked into `libclingJupyter.so` but it is linked into the main cling executable.  This is similar to what is mentioned in [Stackoverflow](https://stackoverflow.com/questions/5685617/missing-symbols-from-static-library-in-linked-executable#5687860).

I m

[2016-10-22 07:39] vgvassilev commented on #114
I think we are not referencing this symbol and it gets optimized away by the linker. We have the same issue in cling, which we solve by 'artificial uses' of the symbol. Have a look here: https://github.com/vgvassilev/cling/blob/master/lib/Interpreter/RequiredSymbols.cpp We need something like this in the jupiter kernel, too.

[2016-10-22 13:04] erlanger commented on #114
@vgvassilev, in my humble opinion it would be dangerous to apply this solution to the jupyter kernel. The kind of solution used in `RequiredSymbols.cpp` is useful if you are concerned about space optimization and know **at link time** what symbols will be needed. This is true for a binary executable, like the cling binary; but it is not true **for a shared library**. The Jupyter kernel is a shared

[2016-10-23 17:36] vgvassilev commented on #114
Good point! Would that work on Windows? Perhaps we need to have an export file?

[2016-10-23 21:46] erlanger commented on #114
I have no idea, I don't even know if the bug shows up on Windows. You'll have to get a windows person on that.

[2016-10-23 23:02] SylvainCorlay commented on #114
Thanks for tracking this down.

[2016-10-25 00:55] erlanger commented on #114
you're welcome, thanks for all the work you've done.

[2016-10-25 07:59] vgvassilev commented on #114
@erlanger could you open a pull request with this patch? There we could review and integrate it.

[2016-10-26 02:12] erlanger commented on #114
Alright, it is PR #117

[2016-10-26 13:13] vgvassilev commented on #114
Should be fixed now. Thanks for the report!

[2016-10-26 13:13] #114 closed

[2016-10-27 12:53] vgvassilev commented on #112
@SylvainCorlay I wanted to ping you on the python related patches for review.

[2016-10-27 15:59] SylvainCorlay commented on #112
Sorry, I was swamped today. I will get back into this tonight and respond on the subject of traitlets too.

[2016-10-30 20:45] vgvassilev commented on #90
Closing due to inactivity.

[2016-10-30 20:45] #90 closed

[2016-11-03 06:03] dabro commented on #115
I agree with @erlanger.  Other languages expose multiple kernels, eg Scala 2.10 vs Scala 2.11, Python2 vs Python3.  These are then associated with a particular notebook and follow that file.

[2016-11-10 23:27] SylvainCorlay commented on #96
@vgvassilev @karies I wanted to ping on the release of [xtensor](https://github.com/QuantStack/xtensor).

You may have seen it but the project website has a `Try it Now` button powered by Cling and Jupyter.

<img width="872" alt="screen shot 2016-11-11 at 12 26 30 am" src="https://cloud.githubusercontent.com/assets/2397974/20198544/86049d98-a7a5-11e6-8f3d-5763390c460a.png">

[2016-11-11 17:14] vgvassilev commented on #96
Cool! Why does the link resolve to an ip and not a domain? Once that's fixed we can add this to the README page of jupiter/cling.

[2016-11-11 19:33] SylvainCorlay commented on #96
@vgvassilev because it is a redirection to the vm that is specifically spawned for you.

[2016-11-21 03:49] dabro opened #119 "Separate definition of `operator=()`?"
I'm not sure if I'm doing something really silly, but I'm unable to define `operator=` outside of the class declaration:
[code]
Constructors (not illustrated here) and methods not automatically defined by the compiler work fine.  However, for `operator=()` I get:
[code]
The method is not defined:
[code]

[2016-11-21 11:50] vgvassilev commented on #119
Could you show us how `class foo` goes in cling? Do you `#include` it or you type it at the prompt?

[2016-11-21 14:29] dabro commented on #119
I declared `foo` directly in cling, initially via Jupyter, but here you can see directly in console:
[code]

[2016-11-21 14:33] vgvassilev commented on #119
Could you try with:
[code]

Currently we cannot detect if you are to define a function/member function and thus we need to toggle between two different states.

[2016-11-21 14:49] dabro commented on #119
OK, sweet.
That did it.  In Jupyter I had to separate the `.rawInput`'s into separate cells to see errors on the `operator=` definition.  I had tried `.rawInput` while troubleshooting before posting, but didn't include `[0/1]` -- my bad.
I'm a little confused on the different behavior between the ctors, the operators, and normal methods like my `clone` above?

[2016-11-21 15:07] vgvassilev commented on #119
I am glad that fixes it.

Can you be more specific about the different behavior of ctors/operators and methods in cling.

[2016-11-21 21:14] dabro commented on #119
First, thanks so much for the awesome response...the project and everything involved is awesome.  I think this will really contribute to C++ uptake, even though a lot of folk who develop with traditional tools can't really understand the value.  I noted the other day that Java 9 is coming with a built-in REPL, after the response they noted to Scala's REPL...

Concerning different behavior:
1.  cto

[2016-11-22 16:40] vgvassilev commented on #119
I believe this is due to a deficiency in our [SourceNormalization](https://github.com/vgvassilev/cling/blob/master/lib/Utils/SourceNormalization.cpp) logic in `IsClassOrFunction`.

[2016-11-26 01:59] erlanger commented on #115
Closing, it is fixed with #118

[2016-11-26 01:59] #115 closed

[2016-11-26 04:28] dabro opened #120 "Proper lambda captures? [=] vs [&]"
[code]
Am I missing something?

[2016-11-27 03:26] dabro commented on #120
also,
[code]

[2016-11-28 21:58] vgvassilev commented on #120
Ah, you are right. Thanks for reporting that. This seems wrong. Apparently, the bug is because we compile (almost) everything wrapped in a function and we extract the declarations out afterwards. It seems that during this extraction we break the semantics of lambdas as it differ when in functions and on the global scope.

[2016-11-30 04:00] dabro commented on #120
Huh, I didn't realize capture only applies to automatic variables.  `&` and `=` don't seem to matter at all for globals, and for member functions, `=` captures `this` in C++14 (`*this` in C++17), so sufficient for mutating member variables.

So for the two examples above, if a is a global in cling, then all three captures (`[]`, `[=]`, and `[&]`) are behaving correctly...

[2016-11-30 04:49] dabro commented on #120
From Xcode 8.1 with C++14:
[code]
So below behavior by cling would be correct, assuming globals:
[code]

[2016-11-30 06:04] dabro commented on #120
And the following seems to work properly on stack variables:
[code]

[2016-12-07 17:25] ax3l commented on #89
@vgvassilev is there anyone still working on code completion?

[2016-12-07 17:40] vgvassilev commented on #89
Cling code completion should work. Just press tab for seeing the autocomplete options.

[2016-12-07 17:44] ax3l commented on #89
Oh :)

I just tried
[code]

and got no completion on a ~3 week old `0.4~dev` version :(

[2016-12-07 17:47] vgvassilev commented on #89
Ah, please go ahead and open a new issue for this.

[2016-12-07 18:13] ax3l opened #121 "Code Completion Fails on std::vector"
The following code snipped does not auto-complete:
[code]

[2016-12-07 18:17] ax3l commented on #89
Thanks, moved to #121

[2016-12-07 18:20] Manouchehri commented on #89
Using Jupyter might be a better idea if possible.

On Dec 7, 2016 12:45, "Axel Huebl" <notifications@github.com> wrote:

[2016-12-07 18:23] dabro commented on #89
I didn’t know tab completion for Cling worked in Jupyter?

[2016-12-15 01:08] maxstrax opened #122 "Parser input from existing stream"
Hello,

I was wondering on how best to integrate cling to an existing framework!
After scanning through the code I found the StreamReader class. I believe it would be a great entry point for any third party application to interface with cling. If we have the ability to pass an existing std::istream there, to provide input for the parser from the stream, essentially we could achieve tight control o

[2016-12-15 09:17] vgvassilev commented on #122
Hi,

  Could this help you https://rawgit.com/vgvassilev/cling/master/www/index.html

  Essentially section "Embedding Cling" shows how to create an interpreter object and pass code in the form of strings to it.

  How that is different from your intended use?

[2016-12-15 20:14] maxstrax commented on #122
Thank you very much, I will attempt the implementation and inform you of the results!

[2016-12-15 20:14] maxstrax commented on #122
Thank you very much, I will attempt the implementation and inform you of the results!

[2016-12-15 20:14] #122 closed

[2016-12-19 22:41] stilist80 opened #123 "TypeError: readlink: can't specify None for path argument"
Hello,

I permanently receive TypeError in Jupyter terminal while trying to start cling kernel.
The following are predecessors:
01:32:04.628 NotebookApp] Timeout waiting for kernel_info reply from 81762983-2e89-47dc-a6f6-5f36d4f25865
[I 01:32:06.539 NotebookApp] KernelRestarter: restarting kernel (4/5)
WARNING:root:kernel 81762983-2e89-47dc-a6f6-5f36d4f25865 restarted
Traceback (most recent call l

[2017-01-13 00:19] dabro opened #124 "Proper static variable handling in lambdas?"
The following is from Arthur O'Dwyer's 2016 Cppcon "Lambda's from First Principles"

[code]
(forgive my weird formatting)
[code]
The `static int a` and `b` should both be shared between the individual instances `k3` and `k4` of the same lambda.  Meaning that each call, regardless of which lambda is called, should increment `a` and `b`.

In the code above, neither the static `a` from the `make_kitt

[2017-01-13 13:14] vgvassilev commented on #124
Can you run the same input by prefixing it:
[code]

Do you still see the same behavior?

[2017-01-13 15:09] dabro commented on #124
Didn't think of that, ok.  Unfortunately, still fails proper behavior:
[code]

[2017-01-14 23:53] dabro opened #125 "Re-defining identifiers"
Would it be possible to enable a user to redefine identifiers (variables, functions, classes) quickly and easily?   ie
[code]
instead of getting
[code]
Right now, the only way that works reliably is restarting (in Jupyter, restarting the kernel).  Cling does provide
[code]
but it doesn't seem to work consistently or reliably.  It also doesn't allow redefining an identifier multiple entries back wi

[2017-01-15 21:46] #120 closed

[2017-01-20 07:13] gouarin opened #126 "Jupyter using cling and python"
I would like to use cling into Jupyter notebook and have all the stuff of Python to plot the result or to do something with Python packages on the cling output.

The first approach for me is to implement a magic function that makes the communication between cling and python as rpy2 did for R and Python.

Is it the best way ? How can I start to implement this feature ? Do you think that it is possi

[2017-01-20 10:00] vgvassilev commented on #125
Sorry for the late reply.

Are you trying to solve the history arrow-up? If this is the case I'd like to throw in a fifth option: whenever writing a declaration to the history we write its initialization so:
`int i = 2; ` ends up in history as:
[code]
Would that help?

[2017-01-20 10:08] vgvassilev commented on #71
Is this still an issue? Can I close this?

[2017-01-20 10:09] #86 closed

[2017-01-20 10:11] vgvassilev commented on #123
@erlanger or @SylvainCorlay may be able to help.

[2017-01-20 10:11] vgvassilev commented on #126
@erlanger or @SylvainCorlay may know how to help.

[2017-01-20 10:13] vgvassilev commented on #119
I am working on a more generic solution allowing us to disambiguate better between function declarations and statements.

[2017-01-20 10:13] #119 closed

[2017-01-20 10:13] vgvassilev commented on #112
ping... is this still of interest?

[2017-01-20 10:14] vgvassilev commented on #93
We did some progress on this and I believe the issue is gone. Please reopen if you still see this.

[2017-01-20 10:14] #93 closed

[2017-01-20 11:28] SylvainCorlay commented on #112
Yes, I will be getting back to this later with some more material for the cling folks.

[2017-01-20 13:18] dabro commented on #125
Only partly.  That would allow you to reassign the value, but not change its type or rerun the ctor.

I actually use cling primarily from the Jupyter interface, even though it doesn't currently have auto-completion (?).  When doing exploratory coding, I'd like to be able to re-run code blocks with assignments multiple times.  This often involves class definitions as well as member defaults.  Curre

[2017-01-24 08:53] wwwillchen commented on #95
Sorry to stir up an old issue. Has the issue around the separation of declarations and statements within one piece of input been fixed? I'm experiencing the same issue but I don't quite understand why the #include statements need to be in a separate preceding cell.

[2017-01-25 17:54] SylvainCorlay commented on #112
I have started working on packaging cling for `conda-forge`.

Conda can package multiple incompatible flavors of the same package (same name and version number) with something called "features". Features are a property of the environment.

The idea is that when installing `cling`, you would enable the `cling-patches` feature which would install the `cling-patches` versions of llvm and clang.

PRs

[2017-01-25 17:57] SylvainCorlay commented on #112
The patch are being applied to the source trees of llvm and the clang at the point version that is being pulled by the recipe, respectively

 - llvm 3.9.0
 - clang 3.8.1

However, it seems that the cling-patches addition cannot apply on the top of clang 3.8.1. It would be really helpful for me to know which version of clang to use to add these patches.

[2017-01-27 23:27] weegreenblobbie opened #127 "c++ syntax highlighting"
feature enhancement

Would it be possible to add syntax highlighting?  The little terminal editor nano does it nicely.

[2017-01-27 23:44] weegreenblobbie opened #128 "pressing tab key after #def causes crash/dumps core"
Starting cling and typing "#def" followed by the tab key causes a crash:

    $ /tmp/cling_2017-01-27_ubuntu14/bin/cling
    Warning in cling::IncrementalParser::CheckABICompatibility():
      Possible C++ standard library mismatch, compiled with __GLIBCXX__ '20150426'
      Extraction of runtime standard library version was: '20150623'

    ****************** CLING ******************
    * Type C

[2017-01-28 10:25] diimdeep commented on #123
[code]

[2017-01-28 10:39] diimdeep commented on #123
[code]

Solution is to make sure `cling` available in current terminal session `export PATH=/cling-install-prefix/bin:$PATH`

[2017-01-28 10:51] vgvassilev commented on #127
Indeed that would be a nice to have. We do not plan adding it soon, but that said patches in that direction are very welcome!

[2017-01-28 10:56] vgvassilev commented on #123
@diimdeep, thanks for the proposed solution! @stilist80 please let us know if this doesn't solve it for you.

[2017-01-28 10:56] #123 closed

[2017-01-28 16:38] SylvainCorlay commented on #112
Ping @vgvassilev @karies on the above comment.

[2017-01-28 16:41] vgvassilev commented on #112
Thanks for the work. Is there something we need to do on our side?

[2017-01-28 16:43] SylvainCorlay commented on #112
I have one question: for the clang recipe, it does not seem that the cling-patches which I took from where master is at can apply on the to of 3.9.1.

[2017-01-28 16:46] vgvassilev commented on #112
Our patches are based on a specific revision of LLVM, we generally do not sync when there is a new version out. Which clang-patches are you using? `https://root.cern.ch/gitweb/?p=clang.git` and `https://root.cern.ch/gitweb/?p=llvm.git` are the repos which contain the most recent ones.

[2017-01-28 16:48] vgvassilev commented on #112
FWIW, we are planning to merge as many patches as possible in upstream LLVM/clang. I start doing that soon.

[2017-01-28 16:49] SylvainCorlay commented on #112
I created patch files for each commit in your forks of llvm and clang that are not in master. Then I try to apply them to llvm 3.9.1 and clang 3.9.1 which are very recent releases (from December).

 - The application of the patches is succesful for llvm (https://github.com/conda-forge/llvmdev-feedstock/pull/4)
 - There are more patches (over 50) for clang https://github.com/conda-forge/clangdev-fe

[2017-01-28 16:54] vgvassilev commented on #112
Ok, I cannot look at them right now, but I do not expect all 50 to fail to apply. Perhaps only a minimal set of them need to be fixed.

[2017-01-28 16:54] SylvainCorlay commented on #112
May be I was not clear, but it is succesfull for the first 49!

[2017-01-28 16:56] SylvainCorlay commented on #112
There might be a commit from master that I should took too which will fix everything. That could be cleaner than trying to amend the patches.

[2017-01-28 16:58] vgvassilev commented on #112
Ah, ok, good. The `0050-Survive-auto-types-in-DeclPrinter.patch` was put upsteam. So we do not need it.

[2017-01-28 17:00] SylvainCorlay commented on #112
Gotcha, 3.9.1 is more recent than where you branched out.

[2017-01-28 17:11] SylvainCorlay commented on #112
All patches apply now thanks! :+1:

[2017-01-28 21:20] dabro commented on #126
@gouarin @erlanger would be interested in helping.  don't know much about the architecture though.

[2017-01-28 21:22] dabro opened #129 "Code Completion in Jupyter?"
Would be nice to be able to tab/^G complete in Jupyter notebook--ie be able to access the Cling autocompletion.

I'd be willing to work it, if someone could take the time to give me a guided tour.  I don't have the time to bumble around :(

[2017-01-28 23:01] vgvassilev commented on #129
Great. Maybe you should start looking into `cling::Interpreter::codeComplete`. This is the interface you will have to query most of the time.

[2017-01-29 21:52] SylvainCorlay commented on #112
@vgvassilev I am looking at it again. Would you guys consider cutting a 0.4 version of cling or should I package 0.3?

[2017-01-29 21:57] vgvassilev commented on #112
We can cut if it is necessary. There are a few improvements. I am quite busy now, it has to be in 2-3 weeks if you want v0.4. Let me know.

[2017-01-29 21:59] SylvainCorlay commented on #112
@vgvassilev thanks, I am attempting the full build from the conda recipes. We will see if I need a more recent version. Otherwise I will simply require a specific commit of cling for now.

[2017-01-30 02:55] SylvainCorlay commented on #112
Although a release with the latest updates to the kernel would be nice!

[2017-02-02 10:24] drvink commented on #128
The most recent cling crashes for me on this too, even with just `.q`<kbd>TAB</kbd>.

[2017-02-02 10:25] francoisbecker commented on #128
I third that

[2017-02-02 12:26] drvink opened #130 "Too much of a good thing: excessive undoes will break or crash cling"
### cling will be the cause of its own undoing if your first transaction is an undo

[code]
<hr />

### cling is more than happy to unload parts of itself

[code]

The undo stack is completely empty! What happens if we try to evaluate something?

[code]

Evaluation is broken at this point and you must restart cling.
<hr />

### Transactions are incorrectly grouped/counted with respect to undoes

E

[2017-02-02 12:49] vgvassilev commented on #130
Can you retry. I think we have committed a protection against such cases.

[2017-02-02 13:26] drvink commented on #130
Rebuild from master just now and all of these are still broken.

[2017-02-02 13:28] drvink commented on #130
Ah, I think you meant to write that reply in #128.

[2017-02-02 13:35] vgvassilev commented on #128
Can you retry with the current master?

[2017-02-02 13:36] vgvassilev commented on #130
Honestly, I didn't meant to reply to #128 but I am glad the other was fixed ;) I will investigate this issue because IIRC we introduced a fix for it, too.

[2017-02-03 11:03] SylvainCorlay commented on #112
Despite of the major TravisCI outage of this week, some progress was made: the `cling-patches` meta package was merged into conda-forge and the patched `llvmdev` package is now going through.

When it comes to the patched clang package, the following problem occurs: two of the clang patches that move files:

[code]

These patch files are generated from the cling-patches branch, rebased on the 0.3.

[2017-02-03 14:28] SylvainCorlay commented on #112
@vgvassilev OK, that issue is solved.

I think that the only thing delaying the cling variants of llvm and clang to get in conda-forge is the Travis CI build backlog.

I would love to see a new version of cling tagged so that I can include the latest changes related to kernel specs.

[2017-02-03 14:29] SylvainCorlay commented on #112
Just that having a conda installable cling is likely to increase adoption of the jupyter kernel, and changing the name from `C++` to` C++[11 | 14 | 17]` is a breaking change for notebooks.

[2017-02-03 14:30] vgvassilev commented on #112
Thanks for the work! I will tag, but probably in couple of days. I need to sync this and prepare a release.

[2017-02-03 14:32] SylvainCorlay commented on #112
A couple of days is probably what is needed to go through the OS X build backlog anyway, so we should be good.

[2017-02-03 14:32] vgvassilev commented on #112
@SylvainCorlay, ok, we should be very explicit there and say that we do not guarantee backward compatibility at least in the beginning.

[2017-02-03 14:34] SylvainCorlay commented on #112
No problem. FYI, in the hand-made conda package that we use for the xtensor demo here quantstack.net/xtensor we are already using the newer `C++14` kernel language name.

[2017-02-05 12:27] SylvainCorlay commented on #112
@vgvassilev quick note on the 0.4 release of cling: it would be great if the `cling-patches` branches of llvm and clang were rebased on `3.9.1` so that the conda packaged version of cling is the same as yours.

In general, having the patches applied to an actual release will help packaging.

[2017-02-05 12:29] SylvainCorlay commented on #112
FYI: everything seems to work now for the conda packaging of the cling variant llvm and clang. I am fighting with circleci so that the build of the two variants for clang remains under 120min cap on the docker image.

[2017-02-05 17:16] SylvainCorlay commented on #112
On the subject of getting these patches upstream, llvm seems to be a lower hanging fruit than clang. It would also be the most useful because very few packages have a *runtime* dependency on clang while many have one on llvm (JuliaLang, Numba). So if you get the llvm patches in, we will be able to have cling installed in the same environment as Julia and Numba without any issue.

[2017-02-05 17:17] vgvassilev commented on #112
Indeed, this is our first step.

[2017-02-06 02:39] valkjsaaa opened #131 "Build failed on macOS 10.12"
I use `cmake` to build from source with cling v0.3 and patched llvm clang r274612. However, I get the following error while using `cmake`

[code]

Any ideas how to fix this?

[2017-02-06 07:46] SylvainCorlay commented on #112
FYI, cling variants of llvm and clang are on conda-forge for all platforms. All I need now is a 0.4 tag for cling!

[2017-02-06 09:14] vgvassilev commented on #131
Hm, did you switch to r274612 the clang repository, too?

[2017-02-06 15:51] valkjsaaa commented on #131
I think so. I use `https://github.com/vgvassilev/clang/archive/cling-patches-r274612.tar.gz` for clang.

[2017-02-06 16:14] vgvassilev commented on #131
Could you clone it from source instead?

[2017-02-06 16:15] valkjsaaa commented on #131
I just found that the clang repository on Github does not have `cling-patches` branch. Is that a mistake?

[2017-02-06 16:18] valkjsaaa commented on #131
Also the `cling-patches-r274612` seems to be even more ahead than `master` branch of `clang`.

[2017-02-06 16:21] vgvassilev commented on #131
`cling-patches` is the current one and it shouldn't be used with v0.3. You should use the tag `cling-patches-r274612`

[2017-02-06 16:22] valkjsaaa commented on #131
So you mean I should try clone the source and switch to tag `cling-patches-r274612`?

[2017-02-06 16:25] valkjsaaa commented on #131
BTW, I tried using the script posted on the website `https://raw.githubusercontent.com/karies/cling-all-in-one/master/clone.sh`, and it built with no problem.

I'm trying to write a Homebrew package for `cling` so that it can be installed easier on macOS in the future. However, they seems to prefer that the package is built from source instead of built by a script.

[2017-02-06 16:27] vgvassilev commented on #131
Ah, I see. This is a problem with our release procedure. We do not tag the clang and the llvm repos when we tag cling...

Thanks for pointing that out to us. Any help will be greatly appreciated.

About moving to homebrew: great! We also want cling to go in as many package managers as possible. Look at the work done in #112.

[2017-02-06 16:45] valkjsaaa commented on #131
Got it. So which version of llvm and clang do you recommend to build with cling `v0.3`?

[2017-02-06 17:04] SylvainCorlay commented on #131
@valkjsaaa I have been working on the packaging of cling for the conda package manager (cross-platform OS X, Windows, Linux).

- Regarding llvm and clang, I rebased the `cling-patches` branches on the top of v3.9.1 and applied the resulting patches to the source tar balls.
- I have done the cling variants for llvm and clang and am just waiting for the `cling` core dev to tag a `v0.4.0` for cling s

[2017-02-06 17:08] valkjsaaa commented on #131
@SylvainCorlay Great! I think that will make packing for Homebrew much easier.

[2017-02-06 17:11] valkjsaaa commented on #131
@SylvainCorlay BTW, how do you address the problem that cling generate binaries such as `clang` and `clang-format` which conflict with existed packages?

[2017-02-06 18:27] SylvainCorlay commented on #131
Conda supports variants of packages through a functionality called "build features". When installing cling, you get the cling variant of `llvm` and `clang`.

Also, conda has the notion of isolated environment. So that you can have environments with different numbered versions / variants of the same packages.

However, I do think that it is important for the llvm patches to go upstream so that we c

[2017-02-06 21:07] SylvainCorlay opened #132 "CMake Build of cling"
I eventually completed the packaging of the `[cling]` variants of `llvm` and `clang` in conda forge, using the "build-features" functionality of conda. Besides, I moved the windows recipe to msvc14.

Now I am trying to get around the `CMakeList.txt` of cling itself. It seems that building cling while using clang as an external library is not quite supported.

Cling is correctly finding llvm with t

[2017-02-06 21:13] vgvassilev commented on #132
Please have a look at [here](https://github.com/vgvassilev/cling/blob/master/lib/Interpreter/CMakeLists.txt). Cling should only look for llvm and clang if it is not installed. Check out the contents of cling-compiledata.h.

[2017-02-06 21:58] SylvainCorlay commented on #132
Here is what a naive build of the recipe yields (disregard `env_placehold_placehold_placehold`), which is the placeholder for the install prefix...

[code]

What is surprising is the location where headers are being looked for. Do you always expect `CLING_CXX_PATH` and `CLING_CXX_HEADERS` to be set manually?

[2017-02-06 22:00] vgvassilev commented on #132
No, if `CLING_CXX_PATH` and `CLING_CXX_HEADERS` are not set we will ask the available compiler (in this case g++-5) for its headers locations and we will pick them on the target system.

[2017-02-06 22:03] vgvassilev commented on #132
The errors seem to be coming because we maybe need to rely not only on AddLLVM.cmake but on clang's cmake 'stuff' too.

[2017-02-06 22:11] SylvainCorlay commented on #132
OK, this is not specific to the conda recipe, but also when building locally against llvm[cling] and clang[cling].

[2017-02-07 14:52] SylvainCorlay commented on #132
The short way to reproduce this without breaking your work environment.

- `Download miniconda here: https://conda.io/miniconda.html. Install it somewhere in your home directory.`
- `conda install llvmdev clangdev cling-patches -c conda-forge`
- `clone cling` / `cd cling`
- `mkdir build`
- `cd build`
- `cmake -D CMAKE_INSTALL_PREFIX=/path/to/miniconda/root/ -D CMAKE_BUILD_TYPE=Release ..`
- `make`

[2017-02-09 08:44] vgvassilev commented on #130
This should be fixed now. Thanks for the report.

[2017-02-09 08:44] #130 closed

[2017-02-10 13:39] SylvainCorlay commented on #132
@vgvassilev did you have the time to have a look at this?

[2017-02-11 11:29] SylvainCorlay commented on #132
Starting to look at clang's cmake "stuff". Clang does have a `AddClang.cmake` module, but it is not installed with the distribution (however `ClangConfig.cmake` is installed correctly). Besides, adding `include('AddClang')` and providing the same boilerplate for its location results in the same error message.

[2017-02-11 12:21] SylvainCorlay commented on #129
@vgvassilev we have work in progress on that but this would require the cling package to get in :)

[2017-02-11 12:27] SylvainCorlay commented on #132
@karies @vgvassilev let me know if you need other info.
I got the cling variants for clang and llvm in conda-forge and this is the last step to complete a conda package for cling on conda-forge.

[2017-02-12 20:47] YorkZ opened #133 "Clang failed to find standard headers"
I was using clang 3.9.0, and I didn't have problem compiling. However, after replacing my llvm 3.9.0 with the one patched by cling, clang fails to find `<iostream>` when I tried to compile a hello world example. As soon as I switched back to the un-patched llvm 3.9.0, everything works again. I then switched back, and the problem came back.

[2017-02-13 00:06] dabro opened #134 "Clang 4.0?"
Should I try building Cling with Clang 4?  Or is it basically guaranteed to fail?

[2017-02-13 14:38] vgvassilev commented on #132
Hm... it seems bd5d32f9e broke it. Could you remove this dependency and try? We need to pick up a publicly available dependency on tablegen-ed targets.

[2017-02-13 15:39] SylvainCorlay commented on #132
No luck... Same error. :unamused:

[2017-02-13 16:15] vgvassilev commented on #132
Ok, it seems that we should rely on what is ClangConfig.cmake/ClangTargets.cmake... Could you try changing this dependency to something from the public config? Eg. `clangSema`.

[2017-02-13 16:31] SylvainCorlay commented on #132
Gotcha. This looks like the solution. I will get back to you.

[2017-02-13 16:35] vgvassilev commented on #132
Perhaps, we should be relying on something that is very "early" in the dependency chain, maybe clangTableGen...

[2017-02-13 16:58] SylvainCorlay commented on #132
Adding
[code]

at line the top level results in `llvm-config failed with status Permission denied`.

[2017-02-13 17:06] SylvainCorlay commented on #132
Lol, so, @JohanMabille just found out that the lines
Without the find-package

[code]

prints

[code]

while with the `find_package` it prints

[code]

[2017-02-13 17:07] vgvassilev commented on #132
That seems like a bug on the llvm side.

[2017-02-13 17:13] SylvainCorlay commented on #132
`-DLLVM_CONFIG=/path/to/llvm-config` works around it and results in the same error as before.

[2017-02-13 17:22] vgvassilev commented on #132
Can you paste the error?

[2017-02-13 17:29] JohanMabille commented on #132
Actually errors are due to dependencies that don't exist in any of the ClangXXXX.cmake: ClangDriverOptions, clang-headers and intrinsics-gen. Commenting out these dependencies fixes the issue. However the compilation fails.

[2017-02-13 17:32] SylvainCorlay commented on #132
Yeah, the `cmake` completes but the actual build from the generated makefile fails with c++ errors.

[2017-02-13 17:35] JohanMabille commented on #132
Here are the errors without commenting out the dependencies:

[code]

[2017-02-13 17:42] SylvainCorlay commented on #132
The following patch fixes the cmake step.

[code]

[2017-02-13 17:47] SylvainCorlay commented on #132
[code]

[2017-02-13 17:52] SylvainCorlay commented on #132
[code]

[2017-02-13 18:14] SylvainCorlay commented on #132
Now the make compilation errors.

[code]

[2017-02-13 18:23] vgvassilev commented on #132
It looks like `UnitAtATime` is unused. Could you set this to 0?

[2017-02-13 18:23] SylvainCorlay commented on #132
OK @vgvassilev , We know what is going on.

Our [cling]-flavored clang and llvm packages are based on `clang 3.9.1` (we rebased your patches upon it). `UnitAtATime` does not exist in this version of clang.

I think that the other build errors that we are seeing also come from this.

[2017-02-13 18:49] SylvainCorlay commented on #132
@vgvassilev do you have a process on the re-basing of the `cling-patches` branches on later commit of the main repo?

In general, it would be great for packaging if you branched out from releases.

[2017-02-13 18:51] vgvassilev commented on #132
We have an internal guidelines, but I think nothing formalized. I agree it would be good but I don't think it will happen for 3.9.1.

[2017-02-13 19:02] SylvainCorlay commented on #132
3.9.1 is a later commit than where you branched out.

Branching out an actual release is important so that we can apply patches
to a released source tarball.

On Feb 13, 2017 7:51 PM, "Vassil Vassilev" <notifications@github.com> wrote:

[2017-02-13 22:10] SylvainCorlay commented on #132
OK, I have a patch that seems to work, which I will add to the conda recipe. If was mostly a matter of passing instances of `ArrayRef` instead of pointers + size.

The reason why I end up debugging LLVM:

![t0xhtgj](https://cloud.githubusercontent.com/assets/2397974/22905704/8dd78f4e-f241-11e6-9396-f7bfc442cab3.gif)

[2017-02-13 22:22] SylvainCorlay commented on #132
The following patch makes things build!

[code]

Now the interpreter segfaults on any input...

[2017-02-14 00:26] SylvainCorlay commented on #132
:tada: hurray. I got a running conda package!

expect a few days before it gets through on conda.

[2017-02-14 00:39] SylvainCorlay opened #135 "Invalid kernelspec directory name"
Jupyter complains about cling's kernelspec directory names. They should not contain the `+` character.

[code]

[2017-02-14 00:39] SylvainCorlay commented on #134
It already fails with clang 3.9.1.

[2017-02-14 04:51] JohanMabille commented on #132
Moving ``find_package(Clang REQUIRED)`` after the invocation of ``LLVM_CONFIG`` let you build without the workaround ``-DLLVM_CONFIG=/path/to/llvm-config``. Note that this ``find_package`` is required, else the build ends up with unresolved external symbols.

[2017-02-14 07:19] SylvainCorlay commented on #132
ok, thanks @JohanMabille this seems to work and simplify the patch - I amended the comment above.

[2017-02-14 08:14] SylvainCorlay commented on #132
@vgvassilev do I need to make a cling variant for the `libcxx` package and build it with the [cling] variant of llvm and clang or is the stock version good?

[2017-02-14 21:50] SylvainCorlay commented on #132
I am having some issues with the c runtime when using the conda package generated. Is there a flag to enable so that cling uses a given C runtime (I guess libcxx instead of gcc's)?

[2017-02-14 21:58] vgvassilev commented on #132
Would `-DLLVM_ENABLE_LIBCXX=1` work?

[2017-02-14 22:08] SylvainCorlay commented on #132
Checking.

[2017-02-14 23:25] SylvainCorlay commented on #132
Getting similar errors as in https://github.com/vgvassilev/cling/pull/117 but unsure it is related for now.

[2017-02-15 14:17] SylvainCorlay commented on #132
Just to clarify, should LLVM be built with that option too or just cling?

[2017-02-15 14:18] vgvassilev commented on #132
LLVM and cling should be built with the same set of options. So yeah, we should build LLVM with this option. However, I recall that if there is libcxx on the system LLVM enables this by default.

[2017-02-20 14:05] cppchedy commented on #132
Hi,
really good timing for me, thx for your work.
 just downloaded cling and tried to  install the kernel but failed with pip instruction, i don't know what I am missing.
so just want to ask when it will be available for conda? and is there any plan for ROOT to be added to conda?

[2017-02-20 15:43] SylvainCorlay commented on #132
@cppchedy This coming very soon. Stay tuned for an announcement early this week for the OS X and Linux builds first which work well.

[2017-02-20 15:46] cppchedy commented on #132
@SylvainCorlay cool! so I guess _ will stop now and just wait for the conda package. thx a lot.
any idea on possible ROOT package at anaconda?

[2017-02-20 15:47] SylvainCorlay commented on #132
I am only working on cling.

[2017-02-20 15:48] cppchedy commented on #132
ok!! thx for you answer!!

[2017-02-20 15:50] #132 closed

[2017-02-20 15:52] #112 closed

[2017-02-20 16:45] vgvassilev commented on #112
Thanks for all the efforts you put in this!

[2017-02-20 16:48] SylvainCorlay commented on #112
@vgvassilev it all works now. The conda package should be up in a few hours.

[2017-02-20 16:52] SylvainCorlay commented on #112
FYI, the conda package works well and we can use the cling interpreter.

There are issues with the kernel itself which I think are not `build / packaging /  installation` issue but legitimate issues in how the cling kernel works.

[2017-02-21 01:08] SylvainCorlay commented on #135
Btw, the conda recipe fixes that as a patch to the source renaming directories in `c++` by `cpp`.

[2017-02-21 18:09] SylvainCorlay commented on #112
@vgvassilev FYI, on each IO operation (i.e. std::out) our msvc build yields

`Cleanup funclets for the MSVC++ personality cannot contain exceptional actions`.

Is there a compiler flag we should be using for windows that would prevent this?

[2017-02-21 18:15] vgvassilev commented on #112
Currently, windows is unsupported. I am not aware of a fix for this issue.

[2017-02-21 18:16] vgvassilev commented on #112
I know, we are working on this. We have a few remaining tests failing exactly wrt exception handling.

[2017-02-21 18:17] SylvainCorlay commented on #112
- The OS X build works.
- The Windows build has the above issue (`Cleanup funclets for the MSVC++ personality cannot contain exceptional actions`).
- I am struggling with glibc versions on conda-forge (bad packaging of gcc on conda) It is not related to cling.

[2017-02-21 18:40] SylvainCorlay commented on #112
If you guys had a little bit of time for a skype / hangout meeting at some point, it would be great.

[2017-02-21 18:41] vgvassilev commented on #112
Yeah, let's take this offline. Could you drop me an email?

[2017-02-21 18:46] SylvainCorlay commented on #112
The cern one? https://github.com/vgvassilev/clad/blob/master/Credits.txt#L29

[2017-02-21 18:49] vgvassilev commented on #112
Either works ;)

[2017-02-21 18:51] SylvainCorlay commented on #112
thanks

[2017-02-21 19:24] #135 closed

[2017-02-21 19:25] vgvassilev commented on #133
On which platform this fails?

[2017-02-21 19:27] #128 closed

[2017-02-21 19:27] #99 closed

[2017-02-21 22:08] cppchedy opened #137 "conda cling C++ kernel problem"
hi,
just reporting, I just successfully installed cling from conda-forge.
but unfortunately, I couldn't run cling's jupyter kernel even though I see them (C++11/14/17) in the new menu. it failes with the following error: ImportError: No module named 'clingkernel'.

do I have to perform other steps after installing cling?(like jupyter kernel spec...)

and when I launched cling from the terminal I g

[2017-02-21 22:13] vgvassilev commented on #137
@SylvainCorlay should be able to help here...

[2017-02-23 10:39] SylvainCorlay commented on #137
A functional version of the package is available on the `SylvainCorlay` channel.

The mismatch issue with the glib comes from the fact that the conda-forge or the default channels for anaconda don't have a recent enough version of gcc and we are using the build container compiler to build the package.

[2017-02-23 10:42] SylvainCorlay opened #138 "Python kernel implementation: "Bad file descriptor""
[code]

[2017-03-13 08:51] Trophime opened #139 "Get an error when trying to create deb packages"
Hi,
I tried to build a debian package on Debian/Testing using the following command line:
[code]

The build went smoothly but I end up with an error when trying to create deb packages:
[code]

Best
C

[2017-03-13 08:56] onyb commented on #139
@Trophime It might be that you don't have GNU coreutils package installed on your machine. Could you please check?

[2017-03-13 09:00] Trophime commented on #139
Hi, it seems that I have coreutils installed:
[code]

[2017-03-13 09:50] vgvassilev commented on #139
And I assume you have installed git?

[2017-03-13 10:01] Trophime commented on #139
yes.
I take a look at the error:
* Seems like adding a test for existing ```prefix``` directory fix this issue (strange).
* But then I run into an other pb ```STABLE_TAG``` seems not to be initialized
* and finaly I have pb with malformatted ```debian/changelog```.

This may be linked to the ``git``` error from ```git log v' + TAG + ' HEAD --format="  * %s" | fmt -s```

[2017-03-13 10:05] Trophime commented on #139
I followed instructions from section [Building from Source with Cling Packaging](https://github.com/vgvassilev/cling)

[2017-03-13 10:15] Trophime commented on #139
The trouble for malformatted ```debian/changelog``` is related with my own configuration.
```gpg --fingerprint | grep uid | sed s/"uid *"//g``` returns several instead of 1, I guess.

[2017-03-13 10:18] vgvassilev commented on #139
Hm, isn't returning more than 1 result fine? If you fixed it on your end could you submit a PR?

[2017-03-16 15:33] voltterra opened #140 "Build v0.3 failed on debian-testing (stretch)"
Hello!
I've been struggling with building cling  from source for a while before I finally got a working solution.

I tried to fetch proposed versions for llvm, clang and cling (using cpt.py script as the manual suggested) but then a compilation process would fail with the following error:

[code]
Same issue mentioned here #131

### Building environment
-- The C compiler identification is GNU 6.3.0

[2017-03-20 14:58] QuantScientist opened #141 "Cling is on PATH but still Jupyter throws RuntimeError: Cannot find cling in $PATH. No cling, no fun"
Dear All,
I am building a docker image having Jupyter and Cling, I tried many docker images, none have worked for me.

My image is here : https://github.com/QuantScientist/deep-ml-meetups/tree/master/nice-docker

It took me a very long time to set up everything correctly, however after Jupyter starts and I create a new C++ notebook I get:
`RuntimeError: Cannot find cling in $PATH. No cling, no fun

[2017-04-06 13:57] DonRomanos opened #142 "32 Bit Compilation with Visual Studio2015 throw compilation errors"
Hello,

I just compiled cling as 64 bit executable on Windows 10, using Visual Studio 2015 and it works fine. However I cannot compile the 32 bit executable due to the following compilation errors:
![image](https://cloud.githubusercontent.com/assets/7599668/24758049/6269333a-1ae1-11e7-9480-f533e0116ad0.png)
The Symbol PRUNTIME_FUNCTION, as well as the functions
- RtlAddFunctionTable
- RtlDeleteFun

[2017-04-06 17:46] vgvassilev commented on #142
We should be able to compile it, could you submit a patch for this?

[2017-04-06 17:47] vgvassilev commented on #141
@SylvainCorlay, could you help us out here?

[2017-04-06 17:53] vgvassilev commented on #140
Hm, I am confused. #131 discovered a problem in our release procedure. We are not tagging the patched versions of clang and llvm.

I think the only way to go is to use a specific hash (as you mentioned) of clang or to use the master.

Could you elaborate what's wrong with the using the master and the jupyter kernel?

[2017-04-06 17:54] vgvassilev commented on #139
I think this issue was resolved. Thanks for reporting.

[2017-04-06 17:54] #139 closed

[2017-04-11 22:36] valkjsaaa commented on #132
@SylvainCorlay Any update on the Mac build?

[2017-04-11 22:52] valkjsaaa commented on #131
@vgvassilev can you make one more version? Tag v0.3 currently don't build with any archived version of Clang and LLVM and there is no stable version after that. I need one version number in order to make a Homebrew package(#homebrew-core#9693).

Thanks!

[2017-05-03 08:40] Swoorup opened #144 "Windows build"
Are there windows build available?

[2017-05-07 10:27] Liberus commented on #144
I'm interested in the same question. It would really help to have them pre-built

[2017-05-07 10:52] Liberus commented on #129
is there any progress in this direction?

[2017-05-08 08:20] Liberus commented on #144
Looks like you can install cling using conda env, but it was reported to have some problems:
https://github.com/vgvassilev/cling/issues/137

[2017-05-12 10:55] Liberus opened #145 "Show image in Jupyter notebook using C++ API"
Is it possible to show an image in Jupyter notebook with C++ kernel?  Similar to matplotlab.pyplot.imshow.
Currently, I'm using markdown to do this, but it has few downside, the main is that browser caches them and won't reload image on markdown cell rerun.

[2017-05-28 23:47] MagicInventor opened #146 "Declaring main, generates a Segmentation fault"
![kek](https://l0y.us/d3036.png "kek")

[2017-05-28 23:51] MagicInventor opened #147 "system(" + TAB = Segmentation fault"
![this](https://l0y.us/2d5fd.png "this")
https://pastebin.com/mpdC0mUv

[2017-05-31 08:08] master308 opened #148 "Jupyter namespace error"
When using Jupyter with cling error occurs when `using namespace std;` is omitted. Following example works when cling is run from terminal, but not in Jupyter:
[code]
corresponding error in Jupyter is:
[code]

[2017-06-22 15:37] laseryuan opened #149 "Could not find a package configuration file provided by "cling""
I'm trying to run the [demo](https://github.com/vgvassilev/cling/tree/master/tools/demo)

After download the cling binary to /usr/bin/. and download this project to /src/ And start to run the cmake:
`cmake -Dcling_DIR=/usr/bin/cling_2017-06-21_ubuntu16/lib/cmake/cling /src/cling-master/tools/demo`

I made following changes to get around some issues :
[code]
But I'm stuck here:
[code]
I can see the

[2017-06-22 15:46] vgvassilev commented on #149
Could you retry, I pushed some recent changes.

[2017-06-22 15:59] laseryuan commented on #149
@vgvassilev Thank you for your prompt reply. I just updated the source and verified that the [changes](https://github.com/vgvassilev/cling/commit/deb1fcbc7d4cc8069388192c4c9acd58685537ce) are included. But still got the same result.

[2017-06-22 16:31] laseryuan commented on #149
The error message is a little bit different in the line:
`CMake Error at CMakeLists.txt:25 (find_package):`

[2017-06-22 17:53] vgvassilev commented on #149
@laseryuan, yes, you should compile it from source. I think we are missing some files from the binary package. I will have a look.

[2017-06-23 04:34] laseryuan commented on #149
@vgvassilev Thanks! I'm compiling in docker. It takes a long time and still running. In the mean while I want to try Cling out and run the simple Hello world code. Again I got error. It seems very difficult to get start. I wondered what's the best practice for a newbie to try it out? I'm copying the error message here:

[code]

[2017-06-23 05:05] laseryuan commented on #149
The compiling process completed, and looks like succeed. I can run the Hello world in the docker container:
[code]
But when I try to run the demo file. Cmake complains file missing again:
[code]
I checked the directory:
`/src/cling-master/tools/packaging/cling-build/builddir/lib/cmake/cling`
There is only file there: "ClingTargets.cmake". What am I missing?

[2017-06-23 06:53] vgvassilev commented on #149
You were getting this error because cling is very sensitive to the running environment. The packaged cling would only work on the specific platform it was built with the specific version of the standard library.

I just built with `cpt.py` like `./cpt.py --current-dev=tar       --with-cling-url=https://github.com/vgvassilev/cling       --with-clang-url=http://root.cern.ch/git/clang.git       --wit

[2017-06-23 11:26] laseryuan commented on #149
I built again with your commands.
[code]
It fails with some python related error:
[code]

[2017-06-23 11:36] vgvassilev commented on #149
Hm... this line `open(os.path.join(CPT_SRC_DIR, 'dist-files.json')).read()` has gone away. Could you re-download and rerun (cleaning cpt artifacts like /tmp/cling-src) cpt?

[2017-06-23 13:45] laseryuan commented on #149
Seems really close:
[code]

[2017-06-23 15:26] vgvassilev commented on #149
Hm, you could skip the tests passing `--no-test`.

[2017-06-24 05:33] laseryuan commented on #149
“--no-test” did the job! It results docker images I can reuse. I built two version on two machines: https://hub.docker.com/r/lasery/cling/tags/. One is from the flag "--skip-cleanup" (cling:hp), the other is not (cling:surface). However, I still got the same error for the demo project that cmake complains there is no "clingConfig.cmake" for both versions.
`cmake -Dcling_DIR=/tmp/cling-obj/lib/cmak

[2017-06-24 08:58] vgvassilev commented on #149
The cling-demo binary could be found in `./builddir/bin/cling-demo` as part of a regular build, too.

[2017-06-24 09:29] laseryuan commented on #149
Yes. Thank you for your help. I can see it works now. But still not able to build it myself. I'm curious about this demo is because that I want to see if it is possible to invoke Cling at any point inside a C++ project. The "binding.pry" for Ruby and the "debugger" for JavaScript are great tools for REPL oriented programming. I want to achieve something similar for C++. Do you know if it is possib

[2017-06-24 20:01] vgvassilev commented on #149
Good. I am not aware of such a tool. Cling is being used as part of framework and it works well. Have a look at [ROOT Project](https://github.com/root-project/root) It is a big framework but you could take a closer look [here](https://github.com/root-project/root/blob/master/core/metacling/src/TCling.cxx).

[2017-07-05 12:31] laseryuan opened #150 "IncrementalExecutor::executeFunction: symbol unresolved while linking [cling interface function]!"
I knew ROOT wrapped GSL as a math module, but I'd rather use light weight Cling to load it myself. I got GSL compiled successful under default configuration. In cling, the headers can be load smoothly. But when do some variable manipulations, I got following error message:
`IncrementalExecutor::executeFunction: symbol 'gsl_root_fsolver_brent' unresolved while linking [cling interface function]!`
B

[2017-07-05 17:28] vgvassilev commented on #150
You probably should load the library corresponding to the header files. Eg.
[code]

[2017-07-06 15:31] laseryuan commented on #150
Thanks @vgvassilev , you solved my problem again!
I found the lib file "libgsl.so" in the path "/usr/local/lib". Include this path when start cling, then `.L libgsl.so` works like a charm

[2017-07-06 15:39] #150 closed

[2017-07-08 05:29] laseryuan opened #151 "Can't evaluate: (1/1)*1"
[code]

[2017-07-09 21:11] vgvassilev commented on #151
Thanks for reporting, we are working to fix it.

[2017-07-09 21:12] vgvassilev commented on #149
I will close this, please reopen if you still have similar issues.

[2017-07-09 21:12] #149 closed

[2017-07-09 21:14] vgvassilev commented on #148
I believe this is a limitation on the Jupyter implementation. You probably need to separate this in two different cells.

[2017-07-13 08:23] vgvassilev commented on #151
Should be fixed in the master.

[2017-07-13 08:23] #151 closed

[2017-07-17 14:08] gouarin opened #152 "completion crash with iostream"
There is an issue with the completion when you include `<iostream>`.

The simplest case is the following lines in the cling interpreter

[code]

As you can see in this demo

https://files.gitter.im/QuantStack/xeus/7qi5/Peek-2017-07-17-16-01.gif

produced by @SylvainCorlay

[2017-07-17 14:12] SylvainCorlay commented on #152
I confirm this behavior, I think that @johanmabille has also experienced this.

[2017-07-17 14:15] vgvassilev commented on #152
I think it is the same as #147. I am looking at it but it seems tricky: for some reason we are destroying the lexer.

[2017-07-17 14:21] JohanMabille commented on #152
I experience the same issue as @SylvainCorlay and @gouarin.
The example in #147 works for me.

[2017-07-17 14:22] gouarin commented on #152
The example in #147 also works for me.

[2017-07-17 14:27] SylvainCorlay commented on #152
@vgvassilev is there a simple rule that we could apply to the string to complete to disable auto-completion for cases that may crash?

[2017-07-17 14:52] vgvassilev commented on #152
@gouarin, huh? Fails for me on the master... The issue seems very subtle.

@SylvainCorlay, not that I am aware of.

[2017-07-17 14:54] SylvainCorlay commented on #152
The example in #147 works for me too.

[2017-07-17 15:44] JohanMabille commented on #152
@vgvassilev on my side I'm using an old version of cling, based on commit efd44687. I didn't try #147 on master.

[2017-07-17 16:29] gouarin commented on #152
@vgvassilev, I installed cling from the nightly build for ubuntu 16 and with a fresh build using the clone.sh script. And I have this issue for both.

[2017-07-18 09:18] gouarin opened #153 ".file command"
It should be great to have the `.file` command like in IPython with `%%file` in Jupyter notebook.

I don't know if it is really difficult to implement but if you have some ideas of how to do that, tell me and I can try.

[2017-07-18 09:28] gouarin opened #154 "Shell command"
As you know, I work with @SylvainCorlay and @JohanMabille on https://github.com/QuantStack/xeus-cling to have a fully kernel C++ based on xeus and cling.

We have a first version which works in Jupyter. To have the cout and cerr of cling, we use a redirection of the Interpreter output.

Unfortunately, the shell command (`.!`) used in cling calls the `std::system` function. So it is not possible fo

[2017-07-18 09:38] gouarin opened #155 "An other completion issue"
There is two strange behaviors with the completion. Here are the test cases in cling

- first test

[code]

you have in the list `array<<#typename _Tp#>, <#std::size_t _Nm#>>`. Then if you do

[code]

you don't have the completion with `array` whereas it's the only good result.

- second test

you do the same as before but you also include vector

[code]

and you have no more results...

[2017-07-19 07:05] vgvassilev commented on #155
Thanks for the report. We will look into it.

[2017-07-22 10:51] gouarin commented on #155
@vgvassilev, I update this issue with an other problem in the completion when you create alias

[code]

Then you have the completion on `int_array` but not on `int_tuple`.

[2017-07-23 08:22] gouarin commented on #153
Finally, we will do that in https://github.com/QuantStack/xeus-cling.

[2017-07-23 08:22] #153 closed

[2017-07-23 09:58] vgvassilev commented on #153
Sorry for being late but I am a little busy. I would expect cling redirects help with that.

[2017-07-23 10:09] gouarin commented on #153
@vgvassilev, I am sorry but I don't understand exactly what you mean...

[2017-07-23 10:12] vgvassilev commented on #153
Wouldn't something like [that](https://github.com/vgvassilev/cling/blob/master/test/Prompt/OutputRedirect.C) help with what you want as behavior for simulating `%%file`.

[2017-07-23 10:16] gouarin commented on #153
I think that it would be more easy to be able to implement magic function on xeus-cling side or xeus-magics package because it is very specific of the Jupyter kernel usage and not of cling.

The idea of use `%%file` is to be able to compile the code with shell command using `!`.

[2017-07-23 10:21] gouarin commented on #154
@vgvassilev, do you have any idea of how to do that ? I have tried with the construction of temporary files but it is too complicated with C++. The only solution that I found is to mix with C programming using popen ...

[2017-07-23 10:24] vgvassilev commented on #153
Ok, got it. Btw, cling also supports shebangs (look in the test suite).

[2017-07-23 10:29] vgvassilev commented on #154
I am not aware of any other way to do it. I think redirecting to `cling::outs()` and `cling::errs()` makes sense. Could you submit a PR once you have it?

[2017-07-23 10:30] gouarin commented on #154
Ok. I will try to write something that works with popen.

[2017-07-23 12:15] gouarin commented on #154
Finally `std::system` works ... I used `!` instead of `.!` :(. So it is not necessary to change  the implementation of shellcommand.

Sorry for the inconvenience.

[2017-08-15 22:09] AndrewSB commented on #131
@valkjsaaa it looks like https://github.com/vgvassilev/cling/releases/tag/v0.4 has been released, should we try to make a new PR on homebrew?

[2017-08-15 22:39] AndrewSB commented on #131
@valkjsaaa I created https://github.com/Homebrew/homebrew-core/pull/16841, but it doesn't build yet

[2017-08-16 16:52] nthiery commented on #125
+1
I will be experimenting this Fall teaching introductory C++ with cling+Jupyter.  It typically take our students a couple iterations to write correct functions (maybe that's not just students :-)). Switching from a compiler to an interpreter is an attempt at reducing the cost of each iteration. Not having to restart cling would reduce this further.
Well, we will know better after the experimenta

[2017-08-16 16:56] nthiery opened #158 "Launching a debogger within cling"
In particular for teaching purposes, it would be very neat to be able to launch a debogger (e.g. gdb) from cling, as can be done in other interpreted language. Taking Python/pdb as example, that could look like:
[code]

[2017-08-19 13:17] vgvassilev commented on #158
This is very interesting idea. I like it. What is the expected behavior of `trace`. Does it set invoke the debugger, set a breakpoint in `max` and run the process?

[2017-08-20 12:33] nthiery commented on #158
On Sat, Aug 19, 2017 at 06:17:20AM -0700, Vassil Vassilev wrote:

:-)

Yes, exactly.

By the way, I should have provided a complete running example in
Python to draw the analogy from. Occasion for me to notice that
`trace` is a SageMath specific shorthand for Python's `pdb.run`.

Here is the example:

    In [1]: def max(x,y):
       ...:     if x>y: return x
       ...:     return y

    In [3]:

[2017-08-22 09:27] pfisterer commented on #125
I have the same issue. It would be nice to have to option to reset the internal state of the cling interpreter. This would allow having self-contained examples that do not depend on previous state.

Maybe an option is to provide a `.resetState`command.

@nthiery This is very interesting as I'm planning the same. Maybe we can exchange experiences.

[2017-08-22 15:10] pfisterer commented on #125
Currently, I'm using a workaround with block statements, e.g.:
[code]

[2017-08-22 16:57] nthiery commented on #125
Excellent. That would be With pleasure!

For the record, all the documents about the class are available from:

        http://nicolas.thiery.name/Enseignement/Info111/

Sorry, in French. Also, for now, nothing Jupyter-related; but it will
be updated while we proceed through the semester.

But let's not pollute further this thread. A good forum for further
discussions might be jupyter-education:

[2017-08-22 20:21] Liberus commented on #142
Hi! I'd like to compile cling for Windows but I don't know and don't know where I can find it out? what the current state of windows build and if there is any commit that compiles on Windows. Can you help me with the last part @DonRomanos &

[2017-08-29 12:45] DonRomanos commented on #142
Hello,

compiling itself on windows is not a problem, I tried with visual studio
2015 and x64 version did compile without a problem.
The instructions can be found here:
https://root.cern.ch/cling-build-instructions
Just acquire Cmake and generate the VS.sln from it, then press compile. The
32 bit version however did not compile, due to windows specific includes
which are not defined for a 32 bit v

[2017-08-29 16:58] apdiazv opened #159 "Jupyter fails to instantiate std::vector with cling"
I just succeeded in installing cling with Jupyter on Mac OS 10.11.6 (El Capitan). Things seem to be working, but I ran into a nasty exception when I try to instantiate a std::vector (see images). Any ideas? I am running Jupyter with Python3.6.
Thanks in advance,
ADV

<img width="1135" alt="captura de pantalla 2017-08-29 a las 1 54 14 p m" src="https://user-images.githubusercontent.com/9203706/2983

[2017-08-29 22:07] dabro commented on #159
It’s a stdlib mismatch issue.  I had this fixed for a short period earlier this year, but I can’t remember what I did.  It’s about pointing at the right C++11/14/17 lib for the kernel you’re using, which is not at all obvious on Mac because of the Xcode install.  Part of it is your path setup, as I remember, and then some config.

dabro

[2017-08-31 08:54] Liberus commented on #142
Hi!

I understood your problem, but I had another one. I wasn't able to compile even 64 bit version. Looks like it was some kind of problem in 0.4 release, because I tried to compile again this morning and it worked.

Either way thanks for your response,

Best regards,
Andrii

[2017-09-02 15:52] chrahunt opened #160 "Jupyter kernel handles library loads differently in a single cell vs separate cells"
* **Expected behavior:** Libraries may be loaded in a single cell and used later.
* **Observed behavior:** Dependent libraries need to be loaded in separate cells.
* **Cling version:** 0.5~dev (nightly) ubuntu16 from 2017-08-30
* **OS:** Ubuntu 16.04.3

Here is a markdown-formatted reproduction of the Jupyter notebook available [here](https://gist.github.com/chrahunt/4dfd9ce6f179a3091ffd2341ce6fc8

[2017-09-04 14:08] nthiery opened #161 "cling goes into strange state after raising error about missing std::"
The following snippet rightfully triggers an error in cling:

        #include <string>
        string s

However, cling goes into a weird state where it does not accept anymore:

        std::string s

I am using cling installed from QuantStack's conda repository:

    /opt/miniconda3/bin/cling --version
    0.4~dev

Full trace:

    ****************** CLING ******************
    * Type C++ code

[2017-09-13 12:52] Liberus commented on #125
So, are there any plans to implement this feature? Would be really nice!

[2017-09-13 14:12] vgvassilev commented on #125
As @dabro mentioned the way to go is using `.undo`. It's state is experimental and we do not have manpower to advance it further.

[2017-10-12 10:32] ElieGouzien opened #162 "Magic cells for the Jupyter cling Kernel"
Hi,

It would be really nice if most of the IPython magic cells were also available with the cling kernel.
I've seen the cling kernel inherit from the IPython kernel so maybe it could be not that hard.

Élie

[2017-10-26 07:13] Trophime opened #163 "Building packages for Debian fails"
Hi,
trying to build packages for debian with latest cling with:
[code]
ends up with:
[code]

Actually there is no .txt file but rather a .json file.
Would replacing the false filename with the right one simply fix this issue?

Best

[2017-10-28 22:08] Caradhrass opened #164 "Building with mingw-w64 fails"
Hi i am trying to build cling for mingw. I  followed this guid https://rawgit.com/vgvassilev/cling/master/www/build.html compilation crashes at 80% with:

`[ 81%] Building CXX object tools/clang/lib/StaticAnalyzer/Checkers/CMakeFiles/clangStaticAnalyzerCheckers.dir/MallocSizeofChecker.cpp.obj
C:\cling\src\tools\cling\lib\Interpreter\Exception.cpp: In function 'void* cling_runtime_internal_throwIfI

[2017-11-07 12:58] vgvassilev commented on #163
Sorry for the late reply. Replacing with the json should work.

[2017-11-07 13:05] vgvassilev commented on #163
This happened because 35306f3f376ca6ff2487703e31034f4ace759c9d changed the json to txt. You probably downloaded the cpt.py from the master while the last stable version did not have that change. That should be fixed if you rerun the script because recently we released a new version of cling.

[2017-11-07 13:05] #163 closed

[2017-11-25 15:37] saneletm opened #166 "Ctrl c (`Control + c`) keyboard shortcut exits cling"
in most REPLs I have worked with (ipython, R, node etc) this is the function of either Ctrl d (`Control + d`) OR Ctrl c Ctrl c (`Control + c` times 2)

A single `Ctrl c` usually terminate an execution within the REPL or clears the prompt.

[2017-11-25 16:57] saneletm opened #167 "jupyter kernel for cling installed but not showing c++ as an option for jupyter notebook creation"
I ran the command: jupyter kernelspec install cling

It definitely installed the kernel at: /usr/local/share/jupyter/kernels/cling

I have my cling folder at /opt/cling/, and have a soft link for cling binary at /usr/local/bin/cling  pointing to /opt/cling/bin/cling

However when I run jupyter-notebook / jupyter notebook, c++ is not an option when creating a new notebook

[2017-11-25 16:58] saneletm commented on #167
this is on linux 16.04 64 bit

[2017-12-02 00:30] zeroclyy opened #168 "Failing Tests (1): Cling :: Autoloading/AutoForwarding.C"
Hi,Vassil Vassilev
Please help me !
   When I was installing cling on ubuntu16.04,there are some error coming.I already installed clang and llvm.
calng masage is this:
clang version 5.0.0 (tags/RELEASE_500/final 318019) (llvm/tags/RELEASE_500/final 318017)
Target: x86_64-unknown-linux-gnu
Thread model: posix
InstalledDir: /usr/local/bin

When I make&install ,cling gave me this massage.I can't save

[2017-12-02 17:49] vgvassilev commented on #168
Hi! This test is flaky and I'd expect it to fail. It seems your build is fine.

[2017-12-02 18:23] vgvassilev commented on #134
Please reopen if that's still an issue.

[2017-12-02 18:23] #134 closed

[2017-12-03 17:17] IonizingRadiation commented on #123
@vgvassilev I got the same issue with @stilist80 , and I followed @diimdeep 's steps but end with no effect. I find that when I run `jupyter-notebook` in console, everything works pretty well, but the issue above occurs when I start `jupyter-notebook` through either `systemd` or `supervisor`. I am just confused.
Also I added `/usr/local/cling/bin` to both `/etc/bash.bashrc` and `~/.bashrc`.
Could

[2017-12-04 03:40] IonizingRadiation commented on #123
I find a solution to it:
The `supervisor` or `systemd` does not import `$PATH` from `/etc/bash.bashrc` or `~/.bashrc` which result in that error. I referred the [wiki](https://wiki.archlinux.org/index.php/Systemd/User) and run the commands below:
[code]
Then the cling kernel can run well.
Also I came across another issue that when running `cling '#include <iostream>'`, it returns `ERROR in cling::

[2017-12-19 13:28] barche opened #169 "Nightlies gone?"
The directory at https://root.cern.ch/download/cling/ seems to be empty.

I am specifically looking for Ubuntu 16.04 binaries for use with our jupyterhub Docker image. The 14.04 binaries from the Github releases appear to work after installing `g++-4.8`, but unfortunately these don't include the `libclingJupyter` library.

[2017-12-19 21:08] louwers opened #170 "Jupyter kernel doesn't load libraries (missing terminating ")"
[code]
results in
[code]

I think it would be best to remove the overload on `-L` for files and libraries completely, because when I make it
[code]
when the `.so` file actually exists, it still tries to `#include` it (which fails horribly of course).

[2017-12-29 07:48] liudonghua123 commented on #144
me too.

[2018-01-05 08:32] shyam-jagannathan commented on #138
Hi,

Is there any solution to this problem? Please help not sure how to get around it.

[2018-01-23 14:35] #148 closed

[2018-01-31 19:53] Yancey2126 opened #171 "Jupyter C++ kernel dies repeatedly"
I installed cling and libgcc following this article:
http://shuvomoy.github.io/blog/programming/2016/08/04/Cpp-kernel-for-Jupyter.html

However, after running jupyter notebook, I can see C++ except that the kernel can never start and died repeatedly.

`KernelRestarter: restarting kernel (4/5)
kernel 8d8df6db-061d-4d07-87f4-b230de31a007 restarted
Traceback (most recent call last):
  File "/usr/loca

[2018-02-02 05:37] khiner opened #172 "Request: Support standard input in Jupyter notebook"
Similarly to how Python supports input:

<img width="663" alt="screen shot 2018-02-01 at 9 36 05 pm" src="https://user-images.githubusercontent.com/685394/35718141-f7105c72-0797-11e8-947a-16f2b734116a.png">

It would be amazing to support `std::cin >> name;`!

[2018-02-11 15:19] wolfv opened #173 "cling output webassembly"
This might be more of a question, but would it be possible to get webassembly as output from cling? That could have the interesting use-case of running the generated webassembly right in the browser, with jupyter for example.

[2018-02-17 05:10] dabro commented on #171
TL;DR: use Python 3.3 or higher.

Python 2.7 doesn't have `which` method on `shutil`.  See https://stackoverflow.com/questions/9877462/is-there-a-python-equivalent-to-the-which-command .

There used to be code that would catch this:
[code]
and default to `find_executable`, but that seems to have been dropped in the last couple revisions.

[2018-02-20 12:00] Mic92 opened #174 "Feature request: URLs pointing to the latest release"
We use the pre-build binaries in our [CI](https://github.com/inspector-repl/inspector/blob/master/ci.sh).
However at some point the urls will be vanished, therefore a link that points to latest build would be nice.

[2018-02-28 11:18] SylvainCorlay opened #176 "Support for `MetaProcessor::process`with values overloading the `&` operator."
Calling `MetaProcessor::process` with a non-`nullptr` value causes compilation error in the interpreted code, namely `No matching function for call to setValueNoAlloc` in the case where the returned value overloads the `&` operator.

[code]

[2018-02-28 12:28] SylvainCorlay commented on #176
I suspect the culprit is

[code]

`UO_AddrOf` probably makes use of `operator&`. If this is it, a better solution would be to use `std::addressof`.

[2018-02-28 13:43] vgvassilev commented on #176
What's the call in cling that breaks it? Is it just `Bar b`?

[2018-02-28 13:58] SylvainCorlay commented on #176
Yes, but you would need to change the UserInterface's call to process and pass it a value.

[code]

[2018-02-28 14:51] SylvainCorlay commented on #176
If there was another way to get the expression for the address of an object than `Expr* AddrOfE = m_Sema->BuildUnaryOp(/*Scope*/0, noLoc, UO_AddrOf, E).get();`, this is probably what should be used.

[2018-02-28 16:09] SylvainCorlay commented on #176
I can work around the bug with the following patch to `ValueExtractionSynthesizer` in the mean time.

[code]

[2018-02-28 16:17] vgvassilev commented on #176
This should trigger the problem in cling standalone by:
[code]

[2018-02-28 16:27] SylvainCorlay commented on #176
Cling standalone's user interface does not call `process` with a non-`nullptr` value as third argument, so there is no error.

[2018-02-28 16:30] vgvassilev commented on #176
Go ahead and open a PR. Why did you need to remove the `else` part?

[2018-02-28 16:40] vgvassilev commented on #176
Go ahead and paste that minimal example and you will see the same problem you reported. Internally, cling uses `cling::Value` when you omit the final `;`.

[2018-02-28 17:08] SylvainCorlay commented on #176
Ah, yes, I was using my modified build 😄

Because I am just completely dropping the argument in the case of such an object *for now*, and it makes it fall into the unhandled type case.

[2018-02-28 17:11] SylvainCorlay commented on #176
All we need for a real fix is a means to get a replacement for

[code]

I opened a stackoverflow issue here:
https://stackoverflow.com/questions/49032835/clangs-uo-addrof-unary-operator-sensible-to-overloading-of-operator

[2018-02-28 17:14] vgvassilev commented on #176
Let me take care of it. I have minimal cling-standalone reproducer and this is all I need.

[2018-02-28 17:15] SylvainCorlay commented on #176
Thanks, this is going to be super useful!
We use a lot of `operator&` overloading for pointer proxies.

[2018-03-01 08:02] SylvainCorlay opened #177 "Make some methods from `lib/Interpreter/ValuePrinter.cpp` part of the API"
In PR https://github.com/QuantStack/xeus-cling/pull/115, we enable the rich rendering of objects in Jupyter through mime bundles.

This PR duplicates a lot of the logic from `lib/Interpreter/ValuePrinter.cpp` for the printing of a value based on its type. Eventually, it only depends on the following methods:

[code]

- Would it be possible to make these part of the API?

- I am also a bit curious

[2018-03-02 08:38] SylvainCorlay commented on #176
Hum, I have tried diving into clang's internals to fix this, but with no luck so far.

[2018-03-04 20:47] JamesKBowler opened #179 "Installation Error - SyntaxError: invalid syntax"
Hi there,
Is something wrong with the script?

[code]
Cheers

James

[2018-03-04 20:48] vgvassilev commented on #179
Hello,

  What does `python --version` say?

[2018-03-04 21:38] JamesKBowler commented on #179
[code]
I think my system is broke...

[2018-03-04 22:14] JamesKBowler commented on #179
Its installing now with
`python3 ./cpt.py --check-requirements && python3 ./cpt.py --create-dev-env Debug --with-workdir=./cling-build/`

not sure whats going on with my laptop... piece of shit Lenovo.

Anyway will close this off, thanks mate

James

[2018-03-04 22:14] #179 closed

[2018-03-05 08:46] SylvainCorlay opened #180 "Wrong type string underlying value printer"
Here is a minimal reproducer in cling:

1) Define `base` and `Derived`:

[code]

2) Instantiate an instance of `Foo` and display it:

[code]

3) Make a copy of `foo` with an explicit type, and display it:

[code]

4) Make another copy of `foo` with the `auto` specifier, and try displaying it:

[code]

The error seems to be in the `getTypeString` which misses the namespace specifier for the base cl

[2018-03-09 08:39] vgvassilev commented on #180
@SylvainCorlay thanks for the report. It should be fixed in 01dbb6d9d523675694da95927eace14535c3040f

[2018-03-09 08:39] vgvassilev commented on #176
@SylvainCorlay thanks for the report. It should be fixed in 01dbb6d

[2018-03-09 08:39] #176 closed

[2018-03-09 10:55] SylvainCorlay commented on #176
Awesome, thanks!

[2018-03-24 11:33] SylvainCorlay opened #181 "Cleanly determine whether last semicolon was omitted"
To prevent the printing of the output in the standard output and go through the jupyter rich display mechanism, we call `process` with `disableValuePrinting=true`.

Then, we inspect the last executed block to see if it ended with a semicolon.

However, this latter question is not that simple because of potential  comment following the actual semicolon.

How does cling make this distinction interna

[2018-03-26 14:20] SylvainCorlay opened #182 "Provide accessor to the `InputValidator` attribute of the meta-processor"
The Jupyter Protocol requires checking whether an input is complete in a separate message from the execution request, while the current cling API is such that the `process`  function returns the indentation level.

It the `InputValidator` was exposed, or at least a new method was provided to the `meta-processor` indicating whether a provided input code is complete, we could tackle this requirement

[2018-03-26 21:57] SylvainCorlay commented on #180
It seems that the latest clang has a version of `getFullyQualifiedName` that provides the correct value.

[2018-03-27 05:55] vgvassilev commented on #180
Forget to say. I am working on it. I will have a look. It is a bug in the way clang prints elaborated types.

[2018-03-27 07:14] SylvainCorlay commented on #180
Thanks!

[2018-04-10 13:08] SylvainCorlay commented on #180
Do you know of a workaround that we could use for this?

[2018-04-10 14:40] vgvassilev commented on #180
I am not aware of any way to workaround it. It is a bug in clang's type printer which I am hunting down.

[2018-04-10 14:52] SylvainCorlay commented on #180
The clang value printer in trunk appears to be quite different from this one. It might solved upstream.

[2018-04-12 08:00] vgvassilev commented on #180
I suspect the issue is coming from [here](https://github.com/llvm-mirror/clang/blob/372df097866f776c2f1e232733f9db39bdabcfaf/lib/AST/TypePrinter.cpp#L1209). The RAII object resets the scope printing [here](https://github.com/llvm-mirror/clang/blob/372df097866f776c2f1e232733f9db39bdabcfaf/lib/AST/TypePrinter.cpp#L93). I am trying to reproduce this behavior will proper clang. So far unsuccessfully.

[2018-04-15 14:31] SylvainCorlay commented on #182
Closing and reopening in the root-mirror repository.

[2018-04-15 14:31] #182 closed

[2018-04-15 14:34] SylvainCorlay commented on #177
Closing and reopening in the root-mirror repository.

[2018-04-15 14:34] #177 closed

[2018-04-15 15:07] SylvainCorlay commented on #180
Closing and reopening in root-mirror.

[2018-04-15 15:07] #180 closed

[2018-04-15 16:30] SylvainCorlay commented on #181
Closing and reopening in the root-mirror repository.

[2018-04-15 16:30] #181 closed

[2018-04-24 03:25] tillmanchen2015 commented on #144
please consider windows

[2018-04-24 07:27] vgvassilev commented on #180
That should be fixed now.

[2018-04-24 11:28] SylvainCorlay commented on #180
Thanks!

Is the following patch sufficient?

[code]

[2018-04-24 11:28] SylvainCorlay commented on #180
Do you know if it fixes the case of template template parameters?

[code]

[2018-04-25 00:37] c-sonntag commented on #164
Hi, I managed to compile cling with CMake and MinGW-SEH-64-7.2.0.
there are still some minor issues on using C (imports of mingw from libs), but otherwise it seems ok for C ++.
I will continue my tests and will keep informed for a next patch

Regarding your error, this fixes this by modifying the CMake files of the cling project only.
Where it will replace "`if (UNIX)`" with "`if (LLVM_COMPILER_IS

[2018-04-30 00:05] SylvainCorlay opened #183 "Desugar auto types insufficient in the case of template template parameters"
The fix in commit 4a226ee47aa5141545ef3488d8c500d58d9d9a61 does not fully solves the issue.

Indeed, in the case of template template parameters, namespaces are still missing.

Minimal reproducer:

[code]

[2018-04-30 00:57] SylvainCorlay commented on #183
Please ignore. The fix worked as expected.

[2018-04-30 00:57] #183 closed

[2018-05-22 07:39] gouarin opened #184 "process with `disableValuePrinting` set to true"
In https://github.com/QuantStack/xeus-cling, we changed a little bit the way to process the input given in a cell notebook in order to write the output cleanly.
To do that, we use the flag `disableValuePrinting` in the process method of the `MetaProcessor` and we found a bug.

Here is a simple example which illustrates the issue in the cling interpreter

[code]

The error message is

[code]

Note

[2018-05-22 14:43] SylvainCorlay commented on #184
Subscribing!

[2018-05-26 06:08] yiyang186 commented on #171
I corrected it: clingInPath = 'path/to/cling'    ... it works, but urgly.

[2018-07-12 06:20] briklodge commented on #125
I forced myself to prototype a project using cling, hoping to find workarounds to make it worth while. I was using xeus-cling with jupyter.

I did things like making most variables behind unique ptrs so they were easy to re-initialize. Defining pure virtual interfaces, and then subclassing inside anonymous blocks so I could redefine the subclass. Making a generic serialization interface so I could

[2018-07-12 17:35] m-kim commented on #125
@briklodge Thanks, the unique_ptr idea helped me work around a problem.

[2018-07-30 19:01] TheAifam5 opened #185 "AppVeyor build fails"
Hi,
I found the AppVeyor build which failing because of:
[code]

Looks like the "clingUserInterface" is compiled using "UNICODE".

Regards,
TheAifam5

[2018-07-31 17:39] gofeel commented on #146
Simple reproduce.

![2018-08-01 2 37 56](https://user-images.githubusercontent.com/1040675/43476584-ea89e41c-9533-11e8-961c-0745306a80ef.png)

[2018-08-03 17:15] tgy opened #186 "Paste multi-line clipboard content in cling interpreter"
I like the workflow of

1. having my code opened with Vim on a tmux pane on the left
2. having the intepreter opened on a tmux pane on the right
3. editing some code in Vim
4. pasting it with the awesome vim-slime plugin to the interpreter

I can do this with ipython but I'm currently unable to reproduce this with cling for multi-line pastes.

When I paste some multi-line code to cling, each line

[2018-08-03 17:18] tgy opened #187 "Ctrl+L does not clear the terminal"
I was expecting Cling to clear the previous output when pressing Ctrl+L but instead it does nothing. I think the Ctrl+L shortcut has become a standard and recommend this behaviour to be added to cling!

[2018-08-20 13:34] permotion88 commented on #164
I'm also trying to compile cling with mingw...

llvm and clang compile without a problem. LLVM_COMPILER_IS_GCC_COMPATIBLE solves the above problem, but then there are other errors e.g:

[code]

@c-sonntag What did you mean with?:

**Can you share any patches or say what changes should be made?**

I tried different changes, other macros instead of LLVM_ON_WIN32 or ON_UNIX, or even comment on someth

[2018-08-24 11:07] permotion88 commented on #161
I got the same error...

[2018-09-06 16:03] c-sonntag commented on #164
Hi, yes indeed I had found some change to make but it was not perfect.
Namely, I use MSYS2 as bash on my Windows and there are sometimes problems tty, but above all, it implies that Cling is compile to work with bash.
So here is a patch that I made at the time, so I recommend to modify it for the latest version of Cling
[[Cling] fix-mingw.patch](https://gist.github.com/c-sonntag/f76466e69fba6e39f8

[2018-09-16 11:53] lucasribeiroufrj opened #188 "Compile cling using Xcode"
Hello,

I could not compile cling after generating a Xcode project using CMAKE.
1) Is it possible to compile cling using Xcode?
2) In case of a affirmative answer, how?

Thanks.
Kind regards,

[2018-09-19 14:49] dufferzafar opened #189 "AUR Package"
Are there binaries I can use on Arch Linux?

There is an AUR package: https://aur.archlinux.org/pkgbase/cling-git/

but it builds from source - which takes insanely long to clone the repo and then to build it (it was taking more than 2 hours, which is when I stopped the process.)

I tried using the binaries for Ubuntu but they don't run properly (because of having built for different runtimes etc.

[2018-10-22 21:32] jarmitage commented on #186
Multi-line commands work via
[code]
So you could probably make a macro to do this?

See https://root.cern.ch/root/htmldoc/guides/users-guide/Cling.html

[2018-11-16 19:37] milo-trujillo opened #190 "CPT Crashes on MacOS"
Attempting to install from source, but when I run `./cpt.py --check-requirements` I get the following crash:

[code]

I've tried running from both the top level and the packaging folder, with Python 2 and 3. I am running MacOS 10.13. Any ideas?

[2018-12-17 18:58] IlanHindy opened #191 "Kernel shut down because of standared library"
Hi,
I installed cling-xeus according to your instructions:
Installed totally new Miniconda
Created a cling env (tried 3.7 and 3.6)
InstallIed cling-xeus by coping the command on your page onda install xeus-cling notebook -c QuantStack -c conda-forge
installed Jupyter.
Opened a notebook.
With Python it works fine
With C++ not
In the Miniconda terminal I get the following error 👍

The OS is Windows

[2019-01-14 06:02] rsrini7 commented on #161
Similar problem in my WSL
Linux MSI 4.4.0-17134-Microsoft #523-Microsoft Mon Dec 31 17:49:00 PST 2018 x86_64 GNU/Linux

[cling]$ using namespace std;
[cling]$ cout << "srini hi";
In file included from input_line_3:1:
In file included from /usr/include/c++/8/iostream:39:
/usr/include/c++/8/ostream:559:8: error: no member named 'setstate' in 'std::basic_ostream<char>'
        __out.setstate(ios_base

[2019-02-02 07:53] Harrypotterrrr opened #192 "how to input from jupyter notebook? or is there any other way to input variables' value?"
![image](https://user-images.githubusercontent.com/28552583/52161597-4f939280-2702-11e9-801c-479484402269.png)
std::cin seems not to work in jupyter notebook env.. 😓

[2019-02-10 01:55] lokingmoshang opened #193 "error: no member named 'addOverlay' in 'clang::CompilerInvocation'"
I find an error when I build it.It said "no member named 'addOverlay' in 'clang::CompilerInvocation'"

[2019-03-27 06:39] zfymoon opened #194 "Can not use std::string sometimes"
My command is as follow:
[code]

But I get an error sometimes:

**input_line_18:3:8: error: no matching constructor for initialization of 'std::__1::string' (aka
      'basic_string<char, char_traits<char>, allocator<char> >')
string v;**

And my enviroment is MacOS 10.13.6 (17G65),I install the cling via the install script on the official site.

Could any one do me a favor? Thanks a lot.

[2019-04-10 10:52] vgvassilev commented on #193
This is fixed in the master. Closing. Sorry for the delay.

[2019-04-10 10:52] #193 closed

[2019-04-18 07:29] #192 closed

[2019-05-18 11:23] felixmarch commented on #172
It is already more than 1 year. Any plan to add this essential feature?

[2019-07-06 01:17] canadaduane opened #197 ""Contribute" misspelled"
The "Contribute" tab at https://rawgit.com/vgvassilev/cling/master/www/contribute.html is misspelled as "Contribuite"

Not a big deal, but since it's an easy fix, I thought I'd mention it :)

[2019-07-10 15:32] reeshabhkumarranjan commented on #190
I got the same error. Traceback:

[code]

[2019-07-10 18:50] vgvassilev commented on #190
Thanks for reporting. Can you tell the output of `cmake --version`?

[2019-07-10 23:26] milo-trujillo commented on #190
I did not have cmake installed, which is no doubt the problem. Better error reporting around this dependency would be great!

Now that I've installed cmake version 3.15.0-rc4, I have a new error:

[code]

So it looks like the dependency script doesn't like the latest release off the cmake site. Installing the latest stable release (3.14.5) works as intended.

[2019-07-12 14:16] reeshabhkumarranjan commented on #190
I installed `cmake` and then tried. I get another error:

`Traceback (most recent call last):                                                                                        File "./cpt.py", line 1844, in <module>                                                                                   check_ubuntu('g++')

[2019-07-14 20:28] vgvassilev commented on #190
Could you tell me what's the output of `g++ -dumpversion`?

[2019-07-14 21:16] vgvassilev commented on #197
Thanks!

[2019-08-17 13:22] derofim commented on #161
issue may be in cling::Interpreter::unload function. It unloads headers without ability to auto-load them again.

[2019-08-17 13:24] derofim commented on #194
may be related to https://github.com/vgvassilev/cling/issues/161

[2019-08-24 16:09] blockspacer commented on #90
cling based C++ as scripting language / hot code reload
Why? Able to run C++ script in runtime or compile it for max speed ( as in example https://github.com/derofim/cling-cmake )
Also: May be used to improve modules compile time

[2019-09-22 10:21] tbhaxor opened #200 "cin is not working"
POC

![image](https://user-images.githubusercontent.com/28386721/65385828-219aa700-dd01-11e9-9d59-390fdd34df73.png)

[2019-09-25 19:08] #197 closed

[2020-07-24 15:49] aadityanaik opened #211 "Loading libLLVM using pragma kills kernel"
I am trying to work with the LLVM-8 C++ API. So far, I am able to add the include and library paths successfully
[code]

However, when trying to load the shared library `libLLVM-8.so`, the kernel dies and I get a pop-up saying "The kernel appears to have died. It will restart automatically."

I use the pragma command to load the library
[code]

Am I missing some setup required to load external lib

[2020-07-24 15:50] aadityanaik opened #212 "Trying to load LLVM shared library with pragma kills kernel"
I am trying to work with the LLVM-8 C++ API. So far, I am able to add the include and library paths successfully
[code]

However, when trying to load the shared library `libLLVM-8.so`, the kernel dies and I get a pop-up saying "The kernel appears to have died. It will restart automatically."

I use the pragma command to load the library
[code]

Am I missing some setup required to load external lib

[2020-07-24 15:58] #211 closed

[2020-07-24 15:58] aadityanaik commented on #211
Accidentally duplicated issue

[2020-07-24 16:00] #212 closed

[2020-07-24 16:00] aadityanaik commented on #212
Accidentally opened the issue in the wrong repo. Sorry about that

[2020-08-26 18:16] zainul1114 opened #213 "C++ kernel is dying (No Kernel !!)"
Hi, I am trying setup C++ kernel, and i downloaded file from below link and Python3.6 is default
https://root.cern.ch/download/cling/cling_2020-08-25_ROOT-centos7.tar.bz2
i have installed and added kernel to jupyterhub, but C++ kernel is dying every time.
cp cling_2020-08-25_ROOT-centos7/* /share/apps/platform/ai/cling

my .bashrc file
export PATH=/share/apps/platform/ai/cling/bin:/share/apps/plat

[2020-09-07 19:49] wangtiexing commented on #191
Hi, I am facing the same problem. Have you already finish this question?

[2020-09-07 19:50] vgvassilev commented on #191
@SylvainCorlay, is this a known issue?

[2020-09-07 22:53] SylvainCorlay commented on #191
@vgvassilev this looks like an issue from 2018 when we had our own conda channel.

Also, we don't provide a windows build of xeus-cling at the moment.

[2020-10-06 11:41] bat-serjo opened #215 "Кефиш!"
Давай батка, мачкай. Радвам се че те има 👍  :)

[2020-10-06 11:41] #215 closed

[2021-05-09 12:14] SamuelMarks opened #217 "Nightly builds 6 months old?"
Are you following the Polar Sun cycle? 😏

[2021-08-02 20:49] eyalroz opened #218 "Build of v0.9 fails on Debian 11 / Devuan 4 - files missing"
### Describe the bug

CMake build configuration _succeeds_, yet build fails, with errors about missing files:
[code]
and
[code]
etc.

### Expected behavior

Build configuration can fail if there's something missing on the system, but if it succeeded - so should the build.

### To Reproduce

1. Install Devuan Chimaera / Debian Bullseye.
2. Download v0.9 sources
3. Run CMake
4. (Install any missing

[2021-09-03 19:38] Apteryks opened #219 "Missing header in benchmark_register.h"
Compilation fails (master branch) unless the LLVM sources are patched like so:

[code]

Source: https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=cling#n40

[2021-09-03 20:33] Apteryks opened #220 "Missing dependency on LLVM's FileCheck command line"
The build instructions are lacking that this utility from LLVM is required (otherwise CMake throws an non-fatal error, and the build later fails).

[2021-09-03 20:52] Apteryks commented on #220
Hmm, nevermind, it seems I was mistaken about this.

[2021-09-03 20:52] #220 closed

[2021-09-05 02:29] Apteryks commented on #219
It's the same as reported here: https://github.com/root-project/cling/issues/425

[2021-09-11 22:33] jonesmz opened #221 "Question: Is this repo a fork of https://github.com/root-project/cling ?"
Please see subject

[2021-09-17 08:52] frankkusters commented on #221
Yes. In README.md this is mentioned: `The main repository is at https://github.com/root-project/cling`.

[2022-09-12 18:26] Cons-Cat opened #225 "Instructions for compiling `cling-patches-llvm-13` branch"
### Explain what you would like to see improved

I'm trying to compile the Clang 13 version of Cling from the `cling-patches-llvm13` branch, and finding the instructions unclear.
[/cling-patches-llvm13/tools/packaging](https://github.com/vgvassilev/cling/tree/cling-patches-llvm13/tools/packaging)

I am guessing that I need to supply `cpt.py` some special `--with-xxxx-url` arguments, but I'm not su

[2022-09-12 19:56] vgvassilev commented on #225
Hi @Cons-Cat, thanks for reaching out. This is work in progress and it is deliberately not documented. I expect this to land in the next couple of months in the master.

If you want to experiment with it, then you could ask cpt to prepare a dev area for the master, manually switch the branches for all, llvm.git, clang.git and cling.git and rebuild.

[2022-10-19 16:10] dimitry-ishenko opened #226 "[cling 1.0~dev] Strange behavior in c++20 mode"
- [x] Checked for duplicates

### Describe the bug
When running cling in c++20 mode I get this:
[code]
Same example runs totally fine in c++17 mode:
[code]

Cling 0.9 likewise works fine in c++17 mode.

### Expected behavior

No error.

### To Reproduce

See above.

### Setup

Cling version: 1.0~dev (`cling-patches-llvm13` branch)
Operating system: Ubuntu 22.04
How you obtained Cling: compiled mys

[2022-10-19 19:44] vgvassilev commented on #226
The new orc infrastructure is very rigorous when it comes to weak symbol redefinition. I will have to test this example with clang-repl as well.

We have been trying to mitigate this problem and perhaps I miss some recent patch.

cc: @hahnjo